<h1>HEY BJORK! LET'S BJORK A BOOK!!</h1>
<h2>Bjork Bjork Bjork</h2>
<p> Bjork likes books. Bjork dances with cats.</p>

<div class='books'>
  <% Dir['books/*'].each do |book| %>
  <div class='book'>
    <a href="/<%= book %>"><%= book %></a>
  </div>
  <% end %>
</div>