<form action='/dogs' method='post'>
  <table>
    <thead>
      <tr>
        <td colspan=2 align='center'>
          Enter dog data
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Name:
        </td>
        <td>
          <input type='text' name='dog_name'/>
        </td>
      </tr>
      <tr>
        <td>
          Age:
        </td>
        <td>
          <input type='number' name='dog_age' />
        </td>
      </tr>
      <tr>
        <td>
          Breed:
        </td>
        <td>
          <input type='text' name='dog_breed' />
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td align='right'>
          <input type='submit' />
        </td>
      </tr>
    </tbody>
  </table>
  
</form>
