<h1>New Planets on the Horizon</h1>
<form action="/planets" method="post">
  <%= token_tag %>
  <p>
    <input type="text" name="planet[name]" placeholder="Planet Name">
    <input type="text" name="planet[image_url]" placeholder="Image URL">
    <input type="text" name="planet[diameter]" placeholder="Diameter">
    <input type="text" name="planet[mass]" placeholder="Mass">
    <p>Life:
    <select name="planet[life]">
      <option value="true">Yes</option>
      <option value="false">No</option>
    </select>
    </p>
    <input type="submit">
  </p>
</form>
