<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Artist Finder</title>
  <link rel="stylesheet" type="text/css" href="bootstrap-theme.css">
  <link rel="stylesheet" type="text/css" href="bootstrap.css">
  <link rel="stylesheet" type="text/css" href="styles.css">

</head>
<body>
  <%= yield %>
</body>
</html>
