<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="stylesheet/style.css">
  <script type='text/template' id='monkey-template'>
    <%- name %>, <%- age %>. Fave toy: <%- toy %>
    <button data-action='free'>Free</button>
    <button data-action='edit'>Edit</button>
  </script>
  <script type='text/template' id='edit-template'>
    <form>
    <input type='text' class='new-name' placeholder='<%- name %>'>
    <input type='text' class='new-age' placeholder='<%- age %>'>
    <input type='text' class='new-toy' placeholder='<%- toy %>'>
    <button data='save'>Save</button>
    </form>
  </script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src='javascript/library/underscore.js'></script>
  <script src='javascript/library/backbone.js'></script>

  <script src='javascript/backbone/models/monkey.js'></script>
  <script src='javascript/backbone/collections/monkeyCol.js'></script>
  <script src='javascript/backbone/views/monkeys/monkeyView.js'></script>
  <script src='javascript/backbone/views/monkeys/monkeyListView.js'></script>

  <script src='javascript/backbone/app.js'></script>
  <title>Monkeys See</title>
</head>


<body>
<form class='new-monkey'>
  <input type="text" class='monkey-name' placeholder='Monkey name'>
  <input type="text" class='monkey-age' placeholder='Age'>
  <input type="text" class='monkey-toy' placeholder='Favorite toy'>
  <input type="submit" value='Add buddy'>
</form>

  <h2>Monkeys</h2>
  <div class="monkey-list"></div>


</body>
</html>
