<!-- //make an ajax call
//display a kitten
//store to database, or don't based on user choice
//show new kitten
//fetch a random name
//fetch a random quote
//store all to the database
-->

<h1>kittinder</h1>

<div class="kittenFrame"></div>

<div class="ui">
<button class = "fetchKitten">Meow</button>
<button class = "nextKitten">Hiss</button>

</div>

<div class="kittens">

</div>


<!-- <iframe width="230"
  height="165"
  frameborder="0"
  scrolling="no"
  src="&max_lines=4&max_characters=320&width=225&height=165">
<a href="http://iheartquotes.com/fortune/random">Random Quote</a>
</iframe> -->
