<ul>
  <% @the_sub.sailors.each do |sailor| %>
    <li>
      <%= sailor.name %>
    </li>
    <% end %>

</ul>

<ul>
  <% @the_sub.torpedo_sailor %>
  <% @the_sub.each do |sailor| %>
    <li>
      <%= sailor.name %>
    </li>
    <% end %>

</ul>



