<h3>Start your ancient map quest here</h3>

<a href="/location/forest">Venture into the Forest</a><br/>
<a href="/location/sea">Venture into the Sea</a><br/>
<a href="/location/mountains">Venture into the Mountains</a><br/>
