table {
  margin:0 auto;
  max-width: 500px;
}



body {
  background-color: lightgrey;
  font-family: sans-serif;
}

.links {
  margin-left: 50px;
  padding-bottom: 30px;
}

h1 {
  margin-left: 50px;
}

.form {
  margin-left:50px;
}
