body{
  background-image: url('http://www.mrwallpaper.com/wallpapers/jungle-forest-1920x1200.jpg');
  background-color:lightblue;
}

.monkey-listed{
  background-color:lightyellow;
  padding:10px;
  border-radius: 5px;
  margin: 5px;
}

ul.monkeys{
  list-style: none;
}
