<div class="sidebar">
    <a href="/records"><button type="button">All records</button></a>
        <a href="/records/<%= @record.id %>/edit"><button type="submit">Edit record</button></a>

    <h2>Record</h2>

    <h3>Title <span><%= @record.title %></span></h3>

    <h3>Description <span><%= @record.description %><span></h3>

    <h3>Date <span><%= @record.entry_date %><span></h3>

    
    
</div>