<div class="container">
  <div class="sixteen columns">
    <h1>A Brand New Moon!</h1>
  </div>
  <div class="sixteen columns">
    <div class="five columns" id="form">
      <%= render 'form' %>
    </div>
  </div>

 <div class="sixteen columns" id="show_button">
    <a href="/planets/"><button>Go Home</button></a>
  </div>
</div>
