<div class="container">

	<header>
		<h1>Welcome to WDI Stocks</h1>
	</header>

	<div class="content">
		<h3>Please enter stock ticker</h3>

		<form class="tickerform" action="/stock" method="post">
			<input type="text" name="stock_symbol">
			<input type="submit">
		</form>		
	</div>

	<footer>
		<div class="copyright">Copyright 2014</div>
	</footer>

</div>
