<div class="container">

	<header>
		<h2> Stock information for <span><%= @stock_ticker %></span>:</h2>		
	</header>

	<div class="content">
		<p class="dateinfo">Date/Time: <%= @date_info %></p>
		<ul class="tickerdata">
			<li>opening price: <%= @opening_price %></li>
			<li>highest price: <%= @highest_price %></li>
		</ul>
	</div>

	<footer>
		<div class="copyright">Copyright 2014</div>
	</footer>

</div>


