<h1>Receipt Generator</h1>

<form action="/receipts" method="post">
  <input type="text" name="company" placeholder="Company">
  <input type="text" name="service_provided" placeholder="Service Provided">
  <input type="text" name="cost" placeholder ="Cost">
  <input type="submit">
</form>
