<h1> Your receipt for <%=@company%>, <%=@service%>, <%=@cost%> was processed.</h1>

<h1>To create another receipt, click <a href="/">here</a>.</h1>
<h1>To see your receipts, click <a href="/receipts">here</a>.</h1>

