<html>
  <head>
    <title>Bookbone</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link href="http://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Alegreya:700" rel="stylesheet" type="text/css" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />



    <!-- ************ Libraries ************ -->
    <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
    <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
    <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>

    <!-- ************ Templates ************ -->
    <script type='text/template' id='juice-template'>
      <div class='juice'>
        <h3 class='ingredients'>
          <%- name %>
          <button data-price=0 name='free'>Free</button>
        </h3>
      </div>
    </script>

    <script type='text/template' id='ingredient-template'>
      <div class='juice'>
        <h2 class='ingredients'>
          <%- name %>
        </h2>
        <form>
          <p>
            <input type='text' placeholder='ingredient' name='ingredient'>
          </p>
        </form>
        <ul class='ingredients'>
        </ul>
      </div>
    </script>

    <!-- ************ INGREDIENT ************ -->
    <script type="text/javascript" src='javascripts/backbone/ingredient.js'></script>

    <!-- ************ JUICE ************ -->
    <script type="text/javascript" src='javascripts/backbone/juice.js'></script>

    <!-- ************ app ************ -->
    <script type="text/javascript" src='javascripts/app.js'></script>


  </head>

  <body>

    <h1>
      Drink Yo Juice
    </h1>

    <form class='new-juice'>
      <input type="text" placeholder='juice-name' class='juice-name'>
    </form>
    
    <form class='new-ingredient'>
      <input type="text" placeholder='ingredient-name' class='ingredient-name'>
    </form>

    <ul class='street-cart'>
    </ul>

  </body>
</html>
