

<form action="/kittens" method="post">
  <input type="hidden" name="width" value="<%=@rand_width%>">
  <input type="hidden" name="height" value="<%=@rand_height%>">
  <button class = "c_but" type="submit"><img class ="krand" src="<%= @url %>" alt="No image"></button>
</form>
