
<ul>
  <% @the_crow.sailors.each do |dev| %>
    <li>
        <%= dev.name %>
        
     
    </li>
  <% end %>
<!-- </ul>
<% @the_crow.torpedo_sailor %>
<ul>
  <% @the_crow.sailors.each do |dev| %>
    <li>
        <%= dev.name %>
        
     
    </li>
  <% end %>
</ul> -->