<link rel="stylesheet" href="/stylesheet.css">

<h1>
  <%= @statement %>
</h1></br>

<div>
<form action= <%= @link1 %> >
    <input class="yes_button" type="submit" value="Yes">
</form>

<form action= <%= @link2 %> >
    <input class="no_button" type="submit" value="No">
</form>
</div>
