<h1> Calculator </h1>
<h2> THE INSTRUCTIONS!! </H2>

  <p> To add: type <i><b> ~/add/integer1/integer2 </i></b>into the address bar, where <i>integer1</i> and <i>integer2</i> are the numbers you want to add. <br><br>

    For example: If your command bar reads: <i> localhost:4567/add/2/3 </i><br><br>

    The browser will do the math: 2 + 3 <br>
    And return: 5 <br><br>

    This calcualtor can also be used to subtract <i>(~/subtract/integer1/integer2)</i>, multiply <i>(~/multiply/integer1/integer2)</i>, or divide <i>(~/divide/integer1/integer2)</i>. <br><br>

    Try it now!


<!-- This should have my calculator buttons!

<table style=>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
-->
