
<form action='/movies' method="post">
  <input type="text" placeholder="Movie Title" name="title">
  <input type="text" placeholder="Director" name="director">
  <input type="text" placeholder="Screenwriter" name="screenwriter">
  <input type="submit">
</form>
