<div class="row"></div>

<nav class="sixteen columns offset-by-one">
  <h3>
    <a href="/planets">
    <i class="fa fa-chevron-circle-right"></i>  
    Back to main</a>  
  </h3>

  <h2>Edit <%= @planet.name %>'s info:</h2>  
</nav>

<div class="row"></div>
<div class="row"></div>


<div class="sixteen columns offset-by-five">

  <div class="form">
    <%= render "form" %>
  </div>

</div>
