<div class="index">
  
<div class="row"></div>

<nav class="sixteen columns offset-by-one">
  <h1>All the planets</h1>
  <h4>
    <a href="/planets/new">
    <i class="fa fa-chevron-circle-right"></i>
    Add a new planet</a>  
  </h4>
</nav>

<div class="row"></div>
<div class="row"></div>


<div class="ten columns offset-by-three">

  <div class="nine columns">
    <p>Click to view details </p>    

    <ul>
    <% @planets.each do |planet| %>
      <li>
        <a href="planets/<%= planet.id %>">
          <%= planet.name %> <i class="fa fa-arrow-left"></i>
        </a>  
      </li>
    <% end %>
    </ul>  
  </div>

</div>

<div class="clear"></div>

</div>
