<div class="row"></div>

<nav class="sixteen columns offset-by-one">
  <h4>
    <a href="/planets">
    <i class="fa fa-chevron-circle-right"></i>
    Back to main</a>  
  </h4>

  <h2>Enter new planet's info:</h2> 
</nav>


<div class="row"></div>
<div class="row"></div>


<div class="sixteen columns offset-by-five">
  
  <div class="form">
    <%= render "form" %>
  </div>

</div>
