

.gen-div {
  text-align: center;
}

.letter-div {
  display: inline;
  margin: 5px;
}

.guess-div {
  text-decoration: underline;
}

#letter-form {
  display: inline;
}

#letter-input {
  display: inline;
}

.subtitle {
  display: inline;
}

.guess-p {
  font-size: 30px;
}
