<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Colors</title>
        <link rel="stylesheet" href="stylesheets/styles.css">
        <script src='lib/jquery.js'></script>
        <script src='src/scripts.js'></script>
        <link href='http://fonts.googleapis.com/css?family=Arvo:700italic|Raleway:500' rel='stylesheet' type='text/css'>    </head>
    <body>

        <div class="header">
            <h1>Palettr</h1>
            <button class="random-palettes">Unleash The Palettes</button>
        </div>
        
        <div class="container">
            
        </div>
    </body>
</html>