body {
  background-color: lightblue;
}

nav {
  background-color: black;
  color: white;

}

li {
  font-family: lobster;
}

h1 {
  font-family: 'Luckiest Guy', cursive;
}

.nav:visited {
  color: white;
}

.shouts {
  margin: 0 auto;
  width: 300px;
}


