<h1>This is where we make new Meows.</h1>

<form action="/users/<%= @user.id %>/meows" method="post">
  <input type="text" name="message" placeholder="...Enter a new Meow">
  <input type="submit">
</form>
