<h1>Meow or not Meow</h1>

<div class="choose" id="not_meow">Not Meow</div>
<div class="bin" id="kitten"></div>
<div class="choose" id="meow">Meow</div>

<div id="kittens"><%= image_tag "kitten.jpg" %></div>