<h4>Sinatra games</h4>
<a href="/toss">
  toss the coin<br/>
</a>
<a href="/dice_roll">
  roll the dice<br/>
</a>
<a href="/magic8ball/changeme">
  magic 8 ball<br/>
</a>
<a href="/rps/changeme">
  rock paper scissors<br/>
</a>
