<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Furry</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="">
  <% erb :nav %>
  <%= yield %>
  </div>
</body>
</html>