body {
  height: 1000em;
  margin: 0;
  background-color: #000;
}

.record {
  width: 400px;
  height: 400px;
  position: relative;
  margin: 40px auto 0 auto;
  border-radius: 200px;
  border: 2px solid #fff;
}

.disk {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background-color: #fff;
  position: absolute;
  z-index: 1;
  margin: 100px 100px;
}

.label {
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 2;
  font-family: 'Georgia';
  margin: 25px 25px;
  text-align: center;
}
