<form action='/movies' method='post'>
  <input type='text' name='movie_title' placeholder='Movie Title'>
  <input type='text' name='movie_director' placeholder='Movie Director'>
  <input type='text' name='movie_screenwriter' placeholder='Movie Screenwriter'>
  <input type='submit'
></form>
