<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPLARKLE</title>
    <link rel="stylesheet" href="/styles.css">
    <link href='http://fonts.googleapis.com/css?family=Raleway|Alegreya+SC:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <%= erb :nav %>
    <%= yield %>
</body>
</html>