<form class="receipts" action="/receipts" method="post">
  Company: <input type="text" name="company"><br/>
  Goods or Services Provided: <input type="text" name="goods"><br/>
  Cost: <input type="text" name="cost"><br/>
  <input type="submit">
</form>