<h4>Sinatra Games</h4>

<a href="/toss">
  Toss the coin
</a>
<br/>
<a href="/dice_roll">
  Roll the die
</a>
<br/>
<a href="/magic8ball">
  Ask the Magic 8 Ball
</a>
<br/>
<a href="/rps">
    Rocks, Papers, Scissors, Shoot
</a>
  <br/>


