<form action="/lunches/new" method='get'>
  <input type="text" name='create_lunch'>
  <input type="submit">
</form>
<form action="/lunches/random" method='get'>
  <input type="text" name='random_lunch'>
  <input type="submit">
</form>