<h1>Make a new student!</h1>

<form action="/students" method="post">
  <%= token_tag %>
  <label>Student Name<labe;>
  <input type="text" placeholder="name" name="name">
  <button type="submit">Add Student!</button>
</form>

