<h2>To perform a math function, please add "/"function"/"number"/"number"" to the url.</h2>

<h3>A function is either add, subtract, multiply or divide, exponent or sqrt</h3>

<h3>The numbers you can choose for yourself. Pick a number and an exponent if that's your function.You only need once selection for sqrt.</h3>

<h3>Have fun!</h3>
