<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WDI Dogs</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="wrapper">
    <%= yield %>
  <div>
</body>
</html>
