<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WDI Dogs</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="wrapper">
    <h3>Enter a dog below.</h3>
    <form action="/dogs" method='post'>
    <input type="text" placeholder='Name' name='name'><br>
    <input type="text" placeholder='Age' name='age'><br>
    <input type="text" placeholder='Breed' name='breed'><br>
    <input type="submit">
    </form>
  <div>
</body>
</html>


<!-- <h3>Enter a dog below.</h3>
<form action="/dogs" method='post'>
  <input type="text" placeholder='...Name' name='name'><br>
  <input type="text" placeholder='...Age' name='age'><br>
  <input type="text" placeholder='...Breed' name='breed'><br>
  <input type="submit">
</form> -->
