<h1> Enter a new movie to the database! </h1>

<form action="/movies" method="post">
  <input type="text" name="movie_title" placeholder="New Movie??">
  <input type="text" name="movie_director" placeholder="Director??">
  <input type="text" name="movie_screenwriter" placeholder="Screenwriter??">
  <input type="submit">
</form>
