<!DOCTYPE html>
<html>
<head>
  <title>Planets On Rails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <!-- <link href='/assets/stylesheets/style.css' rel='stylesheet'>  -->
  <link href="/assets/favicon.ico" rel="icon">

  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Francois+One' rel='stylesheet' type='text/css'>
</head>
<body>

<%= yield %>

</body>
</html>
