Oh hi

<form action="/submit" method="post">
	<label>Your name</label>
	<input name="name"></input>

	<label>Say something</label>
	<input name="message"></input>
	<input type="submit" value="Click to Submit"></input>
</form>
