<form class="edit" action="/squares" method="post">
<%= token_tag %>
  <input type="text" placeholder="side length" name="id[side_length]">
  <input type="text" placeholder="border radius" name="id[border_radius]">
  <input type="text" placeholder="color" name="id[color]">
  <input type="submit">
</form>