.square {
  border: 1px solid green ;
}

#squaree {
    width:<%= @length %>px;
    height:<%= @length %>px;
    background-color:<%= @color %>;
    border-radius:<%= @border %>px;
}

#square1 {
    width:<%= @length %>px;
    height:<%= @length %>px;
    background-color:<%= @color %>;
    border-radius:<%= @border %>px;
}

 .square1 {
    width:<%= @length %>px;
    height:<%= @length %>px;
    background-color:<%= @color %>;
    border-radius:<%= @border %>px;
}