
<div class="top">
  Welcome to WDI Music Search
</div>

<div class="formdiv">
<form action="artists" method="post" class="nameform">
<input type="text" name="artist" class="nametextbox" placeholder="Enter Artist/Group Name">
<input type="submit" value="Get Music!" class="namebutton">
</form>
</div>
