body {
  background: url(galaxy.jpg);
  color: #FF00CC;
}
h2 {
  color: #FF0099;
  font-family: impact;
}
li {
  display: inline-block;
  margin: 22px;
  font-size: 2em;
  text-shadow: 2px 2px #FF0099;
}
a:link {
  color: #FF0099;
}
a:visited {
  color: limegreen;

}
a:hover {
  color: #99FF00;
}