<link rel="stylesheet" href="/styles.css">

<h1>Congrats! Your dog is good to go!</h1>

<p>Dog's name: <%= @new_dog.name %></p>
<p>Dog's age: <%= @new_dog.age %></p>
<p>Dog's breed: <%= @new_dog.breed %></p>

<a href="/dogs"><button>main page</button></a>