<h1>Create a new shout for <%= @user.username %> here:</h1>

<form action="/users/<%=@id%>/shouts" method="post">
  <input type="text" name="message" placeholder="message">
  <input type="submit">


</form>
