<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Nic Me Up</title>
  <link rel="stylesheet" type="text/css" href="./styles.css">
  <link href="favicon.ico" rel="icon" type="image/x-icon" />
</head>
<body>
 <%= yield %>

 <footer>
  <div class="footer left">
    'Nic Me Up' by <a href="https://www.linkedin.com/pub/paul-gasbarra/5/14/6b5">Paul Gasbarra</a> <br/>
    Based on an exercise by Matt Marcello
  </div>
  <div class="footer right">Made possible by Dave Cowart and his amazing site www.placecage.com.</div>
</footer>
</body>
</html>
