<form action="/lunches" method="post">
  <input type="text" name="lunch_name" placeholder="Enter item name">
  <input type="text" name="restaurant" placeholder="Enter restaurant name">
  <input type="submit" value="Add Item">
</form>
