
<h1>Welcome to MusicBrainz</h1>

<p class="center"><b>The ultimate open-source music encyclopedia.</b><br/> 
<small>Type in the artist's name and click 'Search'</small></p>

<form action="/search" method="post">
  <input type="text" name="artist_name" placeholder="Ex: Avicii">
  <input type="submit" value="Search">
</form>
