<link rel="stylesheet" href="/style.css">

<body>
  <h1>Do you have homework?</h1>

  <div>
    <ul>
      <li><a href="/how_long"><button>Yes</button></a></li>
      <li><a href="/code"><button>No</button></a></li>
    </ul>
  </div>
</body>
