<link rel="stylesheet" href="/style.css">

<body>
  <h1>Will it take longer than an hour?</h1>

  <div>
    <ul>
      <li><a href="/good_luck"><button>Yes</button></a></li>
      <li><a href="/no_hw"><button>No</button></a></li>
  </div>
</body>
