
<!doctype html>
<link rel="stylesheet" type="text/css" href="/style.css">
<html>
  <head>
    <title>Pair Programming Bot</title>
  </head>
  <body>
      <h1>
  <%= @question %>
</h1>

<%= @prompt1 %>
<%= @prompt2 %>

  </body>
</html>
