<h1>This is the edit page.  This will have the current planet to be edited showing.  Have all the fields to be edited.  Have a PUT submit form.  It will redirect to the newly edited planet page.  (new.html.erb #new)</h1>



<a href="/planets">Back to index</a>