<h1>This is where you add a new planet.</h1>


<form action="/planets" method='post'>

<input type="text" name="planets[planet_name]" placeholder="...Planet Name" />
<br>

<input type="text" name="planets[planet_url]" placeholder="...Planet pic URL" />
<br>

<input type="text" name="planets[diameter]" placeholder="Diameter (numbers only)" />
<br>

<input type="text" name="planets[mass]" placeholder="Planet Mass" />
<input type="text" name="power" placeholder="to what power ( ^X )" /><br>


<input type="checkbox" name="planets[life]"> Is there life? If 'yes' check the box
<br>

<%= token_tag %>
<input type="submit">
</form>




<a href="/planets">Back to index</a>