<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <style>
  body {font: bold 72px helvetica; margin-top: 50px;}
  </style>
</head>
<body style="background-color:<%= ['red','blue','orange','yellow','purple','green', 'lightgrey', 'pink'].sample %>;">
  <%= yield %>

</body>
</html>
