
<div class="container">
  <table class="st">
    <% count = 0 %>
  <% @num.times do %>
  <% count += 1 %>
    <tr>
      <div class="box">
        <%=count%>
      </div>
    </tr>
    <% end %>

  </table>
 </div>
