<h3>Add a dog to WDI C.R.U.D Database</h3>
<form action="/dogs" method="post">
  <input type="text" name="dog_name" placeholder="Name">
  <input type="text" name="dog_age" placeholder="Age">
  <input type="text" name="dog_breed" placeholder="Breed">
  <input type="submit" value="Add a Dog">
</form>
