<h1>Sinatra Calculator</h1>

<h3><a href="/add">
	Addition
</a></h3>

<h3><a href="/subtract">
	Subtraction
</a></h3>

<h3><a href="/multiply">
	Multiplication
</a></h3>

<h3><a href="/divide">
	Division
</a></h3>

<h3><a href="/power">
	Power
</a></h3>

<h3><a href="/sqrt">
	Square Root
</a></h3>