<h1> Sinatralator</h1>
<br/>
<a href = "/add/1/1">Addition</a><br/>
<a href = "/subtract/1/1">Subtraction</a><br/>
<a href = "/multiply/1/1">Mutiplication</a><br/>
<a href = "/divide/1/1">Division</a><br/>
<a href = "/square_root/1">Square Root</a><br/>
<a href = "/exponent/1/1">Exponent</a><br/>

