<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colors</title>
   <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
  <link rel="stylesheet" href="src/styles.css">
</head>
<body>
  <button class="random-palettes">Unleash The Palettes
  </button>

  <div class="palette-div">
    <h2 class="palette-title"></h2>

  </div>

</body>
</html>
