<h3>Would you like something different today?</h3>

<form action="/lunches/create" method='post'>
  <input type="text" name='lunch_name' placeholder="What would you like?">
  <input type="text" name='restaurant' placeholder="Where from?">
  <input type="submit">
</form>

<ul>
<li><a href="/lunches/new">New Lunch</a></li>
<li><a href="/lunches/random">Random Lunch</a></li>
<li><a href="/lunches">Lunches Home</a></li>
</ul>
