<h3>Start your quest for glory here...</h3>
<h4>by wdi-proto</h4>

<a href="/location/forest">
  Venture into the woods?
</a><br/>

<a href="/location/sea">
  Surfing Time!
</a><br/>

<a href="/location/classroom">
  Saved by the Bell
</a><br/>
