<img class="show" src="<%= @show_planet.image_url %>" alt="">

<iframe src="http://en.m.wikipedia.org/wiki/<%= @show_planet.name %>"></iframe>

<button class="back add"><a href="/planets">back to the galaxy</a></button>