<div class="row"></div>

<div class="six columns sidebar">

    <%= form_for([@planet, @moon]) do |f| %>
       <%= f.label :name %>
       <%= f.text_field :name %> 
       <%= f.submit %>
    <% end %>

</div>


