<h5>Welcome to MyStox</h5>

<h6>Enter Ticker below</h6>
<h6><form action="/tickers" method="post">
<input type="text" ticker="ticker_name">
<!-- <input type="text" name='user_message'> -->
<input type="submit">
</form></h6>
