<h3> The Geckometer indicates your stock </h3>


<h3> <%= @ticker %> is currently trading at:</h3>


<h3> opening price: <%= @opening_price %></h3>


<h3> highest price: <%= @highest_price %></h3>


<h4>Today's trading tip: If you made some, pass it around.</h4>
