<h3>What would you like to eat today?</h3>

<form action="/lunches/create" method='post'>
  <input type="text" name='lunch_name' placeholder="What are you eating?">
  <input type="text" name='restaurant' placeholder="From what restaurant?">
  <input type="submit">
</form>

<ul>
<li><a href="/lunches/new">New Lunch</a></li>
<li><a href="/lunches/random">Random Lunch</a></li>
<li><a href="/lunches">Lunches</a></li>
</ul>
