<div class="kitimg">
  <img src="http://placekitten.com/<%= @kitten.width %>/<%= @kitten.height %>">
</div>
<form action="/kittens" method="post">

<input type="hidden" name="width" value="<%= @kitten.width %>"> 
<input type="hidden" name="height" value="<%= @kitten.height %>">  
<input type="submit" value="save kitten">
</form>