<%= render "pform", pform: @mform %>

<!-- <form action="/moons" method='post'>
<%= token_tag %>
<img src="" width="200" height="200" alt="http://i.imgur.com/o5XfEWTb.jpg"/><br>
<input type="text" name="moon[name]" placeholder="moon name"><br>
<input type="submit">

</form> -->

