<h1>Calculator</h1>

<a href="/add/:num1/:num2"></a>
<strong>Add Numbers</strong>
<br/>
Append "/add/num1/num2" in the URL, num1 and num2 being placeholders for the numbers you want to add.
<br/>
e.g. "/add/3/4"
<br/>
3 + 4 = 7
<br/><br/>

<a href="/subtract/:num1/:num2"></a>
<strong>Subtract Numbers</strong>
<br/>
Append "/subtract/num1/num2" in the URL, num1 and num2 being placeholders for the numbers you want to subtract.
<br/>
e.g. "/subtract/3/4"
<br/>
3 - 4 = -1
<br/><br/>

<a href="/multiply/:num1/:num2"></a>
<strong>Multiply Numbers</strong>
<br/>
Append "/multiply/num1/num2" in the URL, num1 and num2 being placeholders for the numbers you want to multiply.
<br/>
e.g. "/multiply/3/4"
<br/>
3 * 4 = 12
<br/><br/>

<a href="/divide/:num1/:num2"></a>
<strong>Divide Numbers</strong>
<br/>
Append "/divide/num1/num2" in the URL, num1 and num2 being placeholders for the numbers you want to divide. 
<br/>
e.g. "/divide/3/4"
<br/>
3 / 4 = 0.75
<br/><br/>

<a href="/sqrt/2/:num2"></a>
<strong>Square Root</strong>
<br/>
Append "/sqrt/2/num2" in the URL, num2 being placeholder for the number you want to square root. 
<br/>
e.g. "/sqrt/2/9"
<br/>
sqrt 9 = 3
<br/><br/>

<a href="/power/:num1/:num2"></a>
<strong>Power</strong>
<br/>
Append "/power/num1/num2" in the URL, num1 and num2 being placeholders for the numbers you want to power.
<br/>
e.g. "/power/3/4"
<br/>
3 power 4 = 81
<br/><br/>


