<form action="/planets" method='post'>
  <%= token_tag %>
 <input type="text" name="name"placeholder="name">
 <input type="text" name="image_url" placeholder="url of image">
 <input type="text" name="diameter" placeholder="diameter">
  <input type="text" name="mass" placeholder="mass">
  
   <br/>
   <input type="radio" name="life" value="life"> Has Life <br/>
 <input type="submit">  
</form>