<div class="container">

    <form class="save-form">
        <input type="submit" name='submit-button' value="MEOW">
    </form>    

    <button id="kitten-button">NOT MEOW</button>
  
    <div class="bin" id="meow"></div>
    <div class="bin" id="kitten-field"></div>
    <div class="bin" id="no-meow"></div>

</div>