<form action="/receipts" method="post">
    <input type="text" name="company_name" placeholder="Company Name">
    <input type="text" name="goods" placeholder="Goods Purchased">
    <input type="text" name="cost" placeholder="Cost">
    <button type="submit">Receipt Form</button>
  </form>
