<h4>Sinatra Games</h4>
<a href="/toss">Toss the coin</a><br/>
<a href="/dice_roll">Toss the die</a><br/>
<a href="/magic_ball/:ask_anything">Ask the magic ball</a><br/>
<a href="/rps/rock">Rock Paper Scissors(ROCK)</a><br/>
<a href="/rps/scissors">Rock Paper Scissors(SCISSORS)</a><br/>