<form action="/users/<%=@user.id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="name" value="<%=@user.name%>">
  <input type="text" name="email" value="<%=@user.email%>">
  <button type="submit">Submit</button>


</form>
