<h1>Sinatra Games</h1>

<a href="/toss">
  Flip a coin
</a></br>

<a href="/dice_roll">
  Roll the dice
</a></br>

<a href="/magic8ball">
  Ask the Magic 8 Ball
</a></br>

<a href="/rps">
  Play Rock, Paper, Scissors
</a>
