<h2>user data</h2>

<h3><%= @user.username %></h3>

<form action='' method='post'>
    <input type='hidden' name='_method' value='delete'>
    <%= token_tag %>
    <button type='submit'>Delete</button>
</form>