<h2>Update a planet</h2>

<form action="/planets/<%= @planet.id %>" method="post">
    <%= token_tag %>
    <input type="hidden" name="_method" value="put">
    <input type="text" name="planet[name]" value="@planet.name">
    <input type="text" name="planet[image_url]" value="@planet.image_url">
    <input type="text" name="planet[diameter]" value="@planet.diameter">
    <input type="text" name="planet[mass]" value="@planet.mass">
    <input type="radio" name="planet[life]" value="1" <% if @planet.life>checked<% end %> > yes
    <input type="radio" name="planet[life]" value="0" <% if !@planet.life>checked<% end %> > no
    <input type="submit">
</form>