
<form>
  <input type='text' placeholder='username'></input>
  <input type='password' placeholder='password'></input>
  <input type='submit' value='Sign in'></input>
</form>

<p>
  <a href="/auth/facebook">Log in with Facebook</a>
</p>
