h1 {
  text-align: center;
  color: #555;
}
div {
  border-radius: .25em;
  margin: 1em;
  text-align: justify;
  color: #333333;
}
article {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  font-weight: 100;
  font-size: 3em;
  background-color: white;
}
p {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  text-align: right;
}