
<h1>Welcome to MusicBrainz</h1>

<p class="center"><b>The ultimate open-source music encyclopedia</b><br/> 
<small>Search an artist</small></p>

<form action='/search' method="post">
	<input type="text" name="artist_name" placeholder="Ex: Mf Doom">
	<input type="submit" value="Search">
</form>
