<div class="container">

  <div class="six columns offset-by-five"><h1>Planets</h1>

<ul>
  <% @planets.each do |planet| %>
    <li>
      <%= planet.name %>
    </li>


  <% end %>

</ul>

<%= link_to "New Planet", new_planet_path %>

</div>
<!-- <a href="/planets/new">
  New Planet
</a>
 -->
