

<div style="max-width: 600px; display:block; margin: 30px auto; text-align:center">


<h1 style="font-family:Arial">This is my rectangle</h1>

<div style="width: <%= @width %>px; 
height: <%= @height %>px; background-color: <%= @color %>; display: block; margin:40px auto">
</div>	


</div>
