<h1>AVAILABLE LUNCHES</h1>
<!-- <ul>
    <% @lunches.each do |lunch| %>
    <li>Meal : <%= lunch.lunch_name %></li>
    <li>Restaurant: <%= lunch.restaurant %></li>
    <li>Number of times picked: <%= lunch.picked_count %></li>
</ul> -->
<!-- <h2><a href="/lunches/news">CREATE LUNCH!</a></h2>
<h2><a href="lunches/random">RANDOM LUNCH!</a></h2> -->