<div class = main>
    <div class = textbox>
        <h1>CREATE A NEW LUNCH</h1>

        <form action="/lunches/create" method='post'>
          <input type="text" name='lunch_name' placeholder="Meal">
          <input type="text" name='restaurant' placeholder="Restaurant">
          <input type="submit">
      </form>
  </div>
</div>