<h1>RANDOM LUNCH!!!</h1>

<h2>Congratulations! You get <%= @rand_lunch.lunch_name %> from <%= @rand_lunch.restaurant%>!!!</h2>

<h2>This selection has now been chosen <%= @number %> times.</h2>

<h2><a href="/lunches">BACK TO THE LUNCH LIST!!</a></h2>