<form action="/dogs" method="post">
  <input type="text" name="name" placeholder="...dog...name">
  <input type="text" name="age" placeholder="...dog...age">
  <input type="text" name="breed" placeholder="...dog...breed">

  <input type="submit">
</form>
