<p>index.html.erb<p>

<p>display all planet objects maybe in block form, with black background or image to mimic a solar system?<p>

  <p>will use a &lt;ul> to put planet objects in an <em>inline</em> display</p>
