<p>show.html.erb<p>

<p> this page will display individual planet objects referened by embedded ruby tags "&lt;%= @planet.'method' %>"</p>

<img class="index_img" src="<%= @planet.image_url %>"><br>
</h2><%= @planet.name %> has been added to the lists</h2>


<p><a href="/planets">return to planets index</a></p>
