<h1> let's go kittens</h1>
<button class="meowBtn">meow</button>
<button class="notMeowBtn">not meow</button>
<div class="meow choice box"></div>
<div class="kitten box"></div>
<div class="not-meow choice box"></div>


