<h4>
	Sinatra Gambling Den
</h4>

<a href= "/toss">
	Coin Toss
</a>
<br/>
<a href= "/dice_roll">
	Dice Roll
</a>
<br/>
<a href= "/magic8ball">
	Magic 8 Ball
</a>
<br/>
<a href= "/rps">
	Rock/Paper/Scissors
</a>