<h1>Create a lunch!</h1>
<form action="/lunches/new" method="get">
  <input type="submit" value="Create lunch">
</form>

<h1>All lunches:</h1>
<ul>
  <% @lunches.each do |lunch| %>
  <li>
    <%= lunch['lunch_name']%> ——— <%= lunch['restaurant_name']%>
  </li>
  <% end %>
</ul>
