<h3>Please enter the name of the lunch and the restaurant.</h3>
<form action="/lunches/create" method="post">
  <input type="text" value="Name of lunch" name="new_lunch_name">
  <input type="text" value="Restaurant name" name="restaurant_name">
  <input type="submit" value="Submit Lunch">
</form>
