<h4>Sinatra Games</h4>

<a href = "/toss">
  Toss the coin.
</a>

<br />

<a href = "/dice_roll">
  Toss the die.
</a>

<a href = "magic8ball">
  Magic 8 ball.
</a>

<a href = "scissors">
  Magic 8 ball.
</a>
