<h1>Please enter the information below.</h3>
<form action="/movies" method='post'> <!-- this comes from post in app.rb -->
  <input type="text" placeholder='...title' name='movie_title'>
  <input type="text" placeholder='...director' name='movie_director'>
  <input type="text" placeholder='...screenwriter' name='movie_screenwriter'>
  <input type="submit">
</form>
