/*
 *= require_tree .
 *= require_self
 */

h1 {
  font-family: 'Goudy Bookletter 1911';
  font-size: 40px;
  margin-left: 20px;
}

.quote {
  font-family: 'Goudy Bookletter 1911';
  font-size: 24px;
  line-height: 1.2em;
  overflow: auto;
  margin: 13px 15px;
} 

p {
  margin: 0;
}

span {
  font-family: 'Lato';
  float: right; 
  font-size: 15px;;  
}

