body{
  height: 1000em;
  padding: 0;
  margin: 0;
}
p{
  margin:0;
  padding:0;
}

#head{
  position: fixed;
  height: 200px;
  width: 200px;
  margin: 50px;
}

#twins {
  display: inline-block;
}

.image-cage{
  width:100%;
  overflow:hidden;
}

.information-block{
  height: 8em;
  background-color: lightgray;
  margin:0;
  padding:0;
}

.image-banner {
  height: 15em;
  overflow: hidden;
  margin:0;
  padding:0;
}

