<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Receipt Generator</title>
</head>
<body>
  <h1>Please fill in the empty fields.</h1>
  <h3>Company Name:</h3>
    <form action="/receipts" method="post">
    <input type="text" name="company"><br>
  <h3>Service:</h3>
    <form action="/receipts" method="post">
    <input type="text" name="service"><br>
  <h3>Cost:</h3>
    <form action="/receipts" method="post">
    <input type="text" name="cost"></br></br>
    <button type="submit">PRINT YOUR RECEIPT</button>
    </form>
</body>
</html>
