<h1>A square...</h1>
<% len = @square.side_length %>
<% rad = @square.border_radius %>
<% color = @square.color %>

<div class="square" style="background-color: <%= color %>; width: <%= len %>px; height: <%= len %>px; border-radius: <%= rad %>px">
  </div>
  <a href='/squares'>back to the squares</a>