<h1> The book parser!</h1>
<h2>welcome</h2>
<p> funny fins</p>


<div class='books'>
<% Dir['books/*'].each do |book| %>
<div class='book'>
<%= book %>
<% end %>
</div>
</div>
<!-- <form action='/radnom' method='get'>
	<input type='submit' value='Fetch a book'/>
</form>
 -->

