<h4>Please enter the following below:</h4>
<form action="/receipts" method="post">
<input type="text" value="Company" name='company'>
<input type="text" value="Good/Service" name='gsprovided'>
<input type="text" value="Cost" name='cost'>
<input type="submit" value="Create receipt">
</form>
