<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WDI Dogs</title>
  <link rel="stylesheet" href="/style.css">
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
</head>


<body>
<div class="container">
  <%= yield %>
</div>
</body>
</html>
