
<h2><a href="/dogs" class="header">Dogs in the Pack</a></h2>


<form action="/dogs/new" method="get">
		<button class="add">Click to add dog</button>
</form>

<div class="content">

<form action="/dogs" method="post" class="fill">
		<input type="text" name="name" placeholder="Dog's name"></input> 
		<input type="text" name="age" placeholder="Age"></input>  
		<input type="text" name="breed" placeholder="Breed"></input> 
		<input type="submit" value="ADD"></input>  
</form>


	<img src="/dog2.jpg" class="footer" />
	<div class="cleaner"></div>
	<footer>Thank you for visiting the dog pack!</footer>

</div>
