<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Receipt</title>
</head>
<body>
	
<h2>Enter your information here</h2>
<div class="customer_transaction">
<input type="text" name="inputBox" placeholder="Your Company"><form action="/receipts" method="post" name="company"></form></input>


<input type="text" name="inputBox" placeholder="Service provided"><form action="/receipts" method="post" name="service"></form></input>


<input type="text" name="inputBox" placeholder="Cost"><form action="/receipts" method="post" name="cost"></form></input>

<form action="/receipts" method="post" name="cost"></form><input style="text" type="submit"></input>
</div>


</body>
</html>

