<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Receipt	</title>
</head>
<body>
	<input style="text"><form action="/receipts" method="post" name="company"></form></input>
	<input style="text"><form action="/receipts" method="post" name="service"></form></input>
	<form action="/receipts" method="post" name="cost"></form><input style="text" type="submit"></input>
</body>
</html>

