<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Receipt</title>
</head>
<body>
	
<h2>Enter your information here</h2>
<div class="customer_transaction">
<form action="/receipts" method="POST" name="cost">
	<input type="text" name="company" placeholder="Your Company">


	<input type="text" name="service" placeholder="Service provided">


	<input type="text" name="cost"  placeholder="Cost">

	<input style="text" type="submit">

</form></input>
</div>


</body>
</html>

