<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colors</title>
  <link rel="stylesheet" href="stylesheets/styles.css">
   <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
</head>
<body>
  <h1>Color me js-proficient!</h1>
  <button class="color-generator">Show me colors</button>
  <div class="palettes"></div>
  <div class="palette"></div>

</body>
</html>
