<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Musicians</title>
  <link rel="stylesheet" href="/styles.css">
  <link href="http://fonts.googleapis.com/css?family=Leckerli+One|Coustard:900" rel="stylesheet" type="text/css" />
</head>
<body>
  <%= erb :nav %>
  <%= yield %>

</body>
</html>

