'Daily Tech Digest'

<!-- don't think i need a form here bcs link rather than input action? -->

<a href="Reddit, http://reddit.com">

<a href="y-combinator, http://news.ycombinator.com"></a>
<a href="TechCrunch, http://techcrunch.com"></a>
<a href="Mac Rumors, http://macrumors.com"></a>
<a href="Gizmodo, http://gizmodo.com"></a>
