<h1>Here Are The Dogs, Yo!</h1>

<div class="main_table">
<table>
  <% @dogs.each do |dog| %>
  <tr>
    <td>
      <a href="/dogs/<%= dog.id %>"><%= dog.name %></a>
    </td>
    <td>
      <form action="/dogs/<%= dog.id %>/edit">
        <input type="submit" value="Edit">
      </form>
    </td>
  </tr>
  <% end %>
</table>
</div>

<form action="/dogs/new" method="get">
  <input type="submit" value="Create a New Dog!">
</form>
