<h1>Create a Dog, Yo!</h1>

<form action="/dogs" method="post">
  <input type="text" name="name" placeholder="Dog's Name">
  <input type="text" name="age" placeholder="Dog's Age">
  <input type="text" name="breed" placeholder="Dog's Breed">
  <input type="submit">
</form>
