<<<<<<< HEAD
<h1>kinder#index</h1>

<div class="rate not-meow"></div>

<div class="rate kitten-presenter"></div>

=======
<div class="rate not-meow"></div>
<div class="rate kitten-presenter" ></div>
>>>>>>> b7e7a7d102bdf6bf63402721797d5d7cea783a68
<div class="rate meow"></div>