<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Emergency Pick Me Up</title>
  <style>
    body {
      background-color: #<%= @color %>;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
