<h1>Meow? or not Meow?</h1>
<h4>View your kittens <a href="/">here</a>.</h4>



<div class="not-meow bin">Not Meow</div>
<div id='kitten-window' class = 'bin'>
  <img src="http://www.placekitten.com/<%= @width%>/<%= @height %>" id="kitten">
</div>
<div class="meow bin">Meow</div>
