<form action ="/movies" method='post'>
  <input type="text" placehold='...title' name='movie_title'>
  <input type="text" placehold='...director' name='movie_director'>
  <input type="text" placehold='...screenwriter' name='movie_screenwriter'>
  <input type="submit">
</form>
