<form action="/dogs" method="post">
  <input type="text" name="name" placeholder="...dog's name">
  <input type="text" name="age" placeholder="...dog's age">
  <input type="text" name="breed" placeholder="...dog's breed">
  <input type="submit">
</form>
