<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>PICK ME UP</title>
    <style>
    div {
      font: bold 72px helvetica;
      margin-top: 50px;
      background-color: rgb(<%=@color1%>,<%=@color2%>,<%=@color3%>);
    }
    </style>
  </head>
  <body>

    <div>
    <%= yield %>

    </div>
  </body>
</html>
