<h1>YE OLDE BOOKE PARSER!</h1>
<h2>Wlecome! Pull up a chair.</h2>
<p>No, not that one. It's rotten. Try that one. </p>

<form action="/random" method="get">
    <input type="submit" value="Fetch me a book!"/>
  </form>
