<form action="/lunches/<%= @lunch.id %>" method='post'>
  <input type="text" name='lunch' value ='<%= @lunch.lunch %>'>
  <input type="text" name='restaurant' value ='<%= @lunch.restaurant %>'>
  <input type="submit">
</form>