<h2>WDI - A simple receipt generator</h2>
<h4>Fill in the request information below and submit.  This sinatra app will generate a .txt file receipt for your records.</h4>

<form action="/receipts" method="post">
<input type="text" name="company" placeholder="Company Name">
<input type="text" name="goods_servives_provided" placeholder="Goods / Services">
<input type="text" name="cost" placeholder="Cost">
<input type="submit">
</form>
