<head>
 <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>Write another test, did it pass this time?</h2>
  <br/>
  <br/>

  <a class="yes" href="/refactor">ya</a>

  <a class="no" href="/another_test">trying again</a>
</body>
