<head>
 <link rel="stylesheet" href="style.css">
</head>
<body>
  <h2>is your code D.R.Y. and tidy?</h2>

  <a class="done" href="/done">Yup</a>
  <a class="no" href="/dry">lemme fix something</a>
</body>
