<div class="wrapper">

<h1><a href="/">Peaches &amp; Cream</a></h1>	

<form action="/occasions/<%= @occasion.id %>/dresses" method="post">
	<input type="text" name="description" placeholder="Description">
	<input type="text" name="img_url" placeholder="Link">
	<input type="submit">
</form>

</div>
