<h1>Edit that there user right here</h1>

<form action="/users/<%= @user.id %>" method="post">
  <%= token_tag %>
  <input type="hidden" name="_method" value="put">
  <input type="text" name="user[username]" placeholder="<%= @user.username %>">
  <input type="submit" value="Submit changes">
</form>
