<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colors</title>
  <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
</head>
<body>
  <button class="random-palettes">Unleash The Palettes</button>
  <div class='palette-div'>
    <h2>Palette</h2>
  </div>
</body>
</html>
