<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Emergency Complimenter</title>
    <style>
    body { background-color: #<%= @random_color %> }
    div {font: bold 72px helvetica; margin-top: 50px;}
    </style>
  </head>
  <body>    
    <%= yield %>
  </body>
</html>