<% if @yours %>
<h1>Why don't you go to <%= @yours%>. Don't like it? Click <a href="/lunches/new">here</a> to create a new place, or click <a href="/lunches/random">here</a> to try another random place.</h1>
<% else %>
<h1>No lunch places have been created. Click <a href="/lunches/new">here</a> to make one.</h1>
<% end %>


