<h4><%= @dog.name %></h4>
<p><strong>Age:</strong> <%= @dog.age %></p>
<p><strong>Breed:</strong> <%= @dog.breed %></p>
<a href="/dogs/<%= @dog.id %>/edit">Edit</a> | <a href="/dogs">Back to index</a>