<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Compliment</title>

  <style>
    body {
      background-color: rgb(
        <%= random_color %>,
        <%= random_color %>,
        <%= random_color %>);
      text-align: center;
      padding: 5em;
          }
  </style>

</head>
<body>
  <%= yield %>
</body>
</html>
