<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Kinder!</title>
  <head>
<body>
  <h2>Welcome to Kinder!</h2>
    <div class='bins' id='fade'> FADE </div>
  <div class='bins' id='shrink'> SHRINK</div>
  <div id="kitten-bin"></div>
</body>
</html>