<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Kinder!</title>
  <link rel="stylesheet" href="stylesheets/jquery_ui.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <script src="javascripts/jquery.js"></script>
  <script src="javascripts/jquery_ui.js"></script>
  <script src="javascripts/scripts.js"></script>
</head>
<body>
  <h2>Welcome to Kinder!</h2>
    <div class='bins' id='fade'> FADE </div>
  <div class='bins' id='shrink'> SHRINK</div>
  <div class='bins' id='embiggen'> EMBIGGEN</div>
  <div class='bins' id='clone'>CLONE</div>
  <div id="cat-bin"></div>
</body>
</html>