<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Kinder!</title>
  <head>
<body>
  <h2>Welcome to Kinder!</h2>
    <div class='bins' id='save'>KEEP</div>
    <div class='bins' id='toss'>TOSS</div>
    <div id="kitten-bin"></div>
</body>
</html>