<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Kinder</title>
</head>
<body>
  

  <div class="top-container">
    <p id="top-container-id-left"></p>

    <p id="top-container-id-right"></p>
  </div>
  <div class="choice"></div>
  

  <div class="container">

    <div class="left">Not so Puuurrrr-ty</div>

    <div class="picture">
      <img src="<%= @url %>" />
    </div>

    <div class="right">Puuurrr-ty</div>
  </div>


    <div class="buttons">
      <span class="not-meow">
        <i class="fa fa-angle-double-left fa-5x"></i></span>
      <span class="meow">
      <i class="fa fa-angle-double-right fa-5x"></i>
    </span>
    </div>
</body>
</html>