<html>
  <head>
    <title>Matt's Juice Bar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/styles.css">

    <!-- Libraries -->
    <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
    <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
    <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>
<!--templates -->

    <script type="text/template" id="ingredient-template">
      ingredient: <%- ingredient.name %>, amount: <%- ingredient.amount %> 
    </script>

    <script type="text/template" id="juice-template">

      <h1>Juice:<%- juice.name %></h1>
      <ul class="juice-title"></ul> 

    </script>

    <!--  Da App -->
    <script type="text/javascript" src='javascripts/app.js'></script>

  </head>
  <body>
    <div class="container">
      <div id="juice-name">
      </div>
    </div>



  </body>

</html>
