<h4>Sinatra Games</h4>
<a href="/toss">Flip the coin</a>
<br>
<a href="/dice_roll">Toss the die</a>
<br>
<a href="/magic_8ball">Think of a question to ask the magic 8ball.  Then click!</a>
<br>
<p>Pick <a href="/rps">rock</a>, <a href="/rps/">paper</a>, or <a href="/rps">scissors.</p>
