<form action="/movies" method="post">
  <input type="text" placeholder="...Title" name="movie_title">
  <input type="text" placeholder="...Director" name="movie_director">
  <input type="text" placeholder="...Screenwriter" name="movie_screenwriter">
  <input type="submit" value="Add Movie">
</form>
