
<a href="/add">Add</a><br/>
<a href="/subtract">Subtract</a><br/>
<a href="/multiply">Multiply</a><br/>
<a href="/divide">Divide</a><br/>
<a href="/square_root">Square Root</a><br/>
<a href="/powers">Powers</a><br/>


