<h1>Kinder - Meow or not Meow</h1>

<h2>Drag and drop the kitten on the left side of the screen... not meow</h2>
<h2>Drag and drop the kitten on the right side of the screen... Meow!</h2>

<div class="vote" id="not_meow">not meow</div>

<div class="bin" id="kitten"></div>

<div class="vote" id="meow">Meow!</div>




<div id="kitten_pic"><%= image_tag "kitten.jpg" %></div>

