<h3>Enter your receipt</h3>
<form action="/receipts" method="post">
 Company name: <input type="text" name="company_name"><br/>
 Good / service:  <input type="text" name="company_type"><br/>
  Amount: <input type="text" name="amount"><br/>
  <input type="submit">
</form>



<a href="/receipts">Click</a> to view receipts.<br/>
