<h2>Your receipts</h2>

<% @receipts.each do |entry| %>
<div class="receipt">
  Company Name: <div class="data company_name"><%= entry.split('|')[0] %></div><br/>
  Good / Serivce: <div class="data company_type"><%= entry.split('|')[1] %></div><br/>
  Amount: <div class="data amount"><%= entry.split('|')[2] %></div><br/>
</div><!--receipt -->
<% end %>


