<h1>Kinder - Meow or not Meow</h1>

<div class="vote" id="not_meow">not meow</div>

<div class="bin" id="kitten"></div>

<div class="vote" id="meow">Meow!</div>

<div class="bin" id="kitten_hidden"></div>
