<div class="cats container small-10 columns">

  <div class="row">
    <div class="title small-16 columns">
      <h1 class="title">Here Be Kittens</h1>
    </div>
  </div>

  <div class="row">

    <div class="randomKitten small-16 columns">
      <div class="row">
        <button class="getRandomKitten small-6 columns left">Get Random Kitten</button>
        <button class="saveThisKitten small-6 columns left">See Saved Kittens</button>
      </div>

      <div class="row">
        <button class="secondary likeKitten small-2 columns right">MEOW<br>(save)</button>
        <button class="secondary likeKitten small-2 columns left">NOT MEOW.</button>
        <div class="randomImage small-8 columns left"></div>
      </div>

      <div class="savedKittens">
      </div>

    </div>
  </div>



  <div class="end row">
    Designed by Kristen @ WDI
  </div>


</div>
