<h1>This is Proto!</h1>

<table>
<% @developers.each do |developer| %>
   <tr>
      <td><%= developer.name.join(' ') %></td>
      <td><%= developer.initials %></td>
      <td><%= developer.tagline %></td>
  </tr>
<% end %>
</table>
