<h2>Create a new square</h2>

<form action="/squares" method='post'>
  <%= token_tag %>
  <input type="text" name='square[side_length]' placeholder="... width">
  <input type="text" name='square[border_radius]' placeholder="... border-radius">
  <input type="text" name='square[color]' placeholder="... color">
  <input type="submit">
</form>


<!-- What will Rack see? -->
<!-- params will be { :square => {:side_length => 200, :border_radius => 10, :color => 'red'} } -->




