
 <%= @rectangles.each do |rectangle| rectangle end %>


<div style="float: left;
            background-color:<%= @color %>;
            width:<%= @width %>;
            height:<%= @height %>;
            border: 0px solid black">
</div>
