/* 

## Style Hints: 

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/


body{
	font-size: 12px;
	line-height: 17px;
	font-family: "Times New Roman", serif;
	color: #656565;
	max-width: 1040px;
}

#container {
	margin: 50px;	
}

.logo {
	margin: 0 0 15px 0;	
}

img {
	max-width: 100%;
}

h3 {
	font-size: 20px;
}

.date {
	color: turquoise; 	
}

a {
	color: turquoise; 
	text-decoration: none;
}

a:hover{
	color: #20222a;
}

.press_img {	
	display: inline-block;
	padding: 1px;
	border: 3px solid #656565;
}

