<h1> Wake's Cut </h1>

<!-- <h2> Want a fresh Cut? Sign in <a href="https://api.instagram.com/oauth/authorize/?client_id=fef2fced51f64c8ebc0c599e63daccf0&redirect_uri=REDIRECT-URI&response_type=code">Here</a> </h2>

 --><!-- https://instagram.com/oauth/authorize?client_id=fef2fced51f64c8ebc0c599e63daccf0&redirect_uri=http%3A%2F%2Flocalhost%3A4567%2Fauth%2Finstagram%2Fcallback&response_type=code&scope=basic&state=8ba5d995e18682a5cf393388aa08062ff57725b14acad9dd -->
<h2> You a <a href="http://localhost:4567/auth/twitter">twitter guy?</a> Or an <a href="/auth/instagram">Instagram Bro?</a></h1>