<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>WDI Comp</title>
		<style>
	body {
		background-color: #<%= @color %>;
		color: #fff;
		font-size: 30px;
		font-family: Verdana;
		text-align: center;
	}
	h1 {
		margin: 100 auto;
		color: #999;
	}
	form {
		margin: 50px auto;
	}
</style>
	</head>

	<body>
		<%= yield %>
	</body>
</html>