<h4>Sinatra Games</h4>

<a href="/toss">
	Toss the coin
</a>

<br/>

<a href="/dice_roll">
Toss the die
</a>

<br/>

<a href="/magic_8_ball">
	Ask the ball
</a>

<br/>

<a href="/rps_rock">
	Rock Paper Scissors
</a>

<br/>

<a href="/rps_scissors">
	Rock Paper Scissors
</a>

<br/>