<h2><%= @user.username %></h2>

<form action="/users/<%= @user.id %>/splarkles" method="post">
    <input type="text" placeholder="...splarkle here" name="message">
    <button type="submit">SUBMIT</button>
</form>