<form action="/lunches/create" method="post">
  <input type="text" name="lunch_name" placeholder="Name of lunch">
  <input type="text" name="restaurant_name" placeholder="Restaurant name">
  <input type="submit" value="Create lunch">
</form>