
<form action="/lunches/create" method="post">
  <input type="text" placeholder="lunch" name="lunch">
  <input type="text" placeholder="restaurant" name="resto">
  <input type="submit" value="Create New Lunch">
</form>

