/*.kitten {
  border-radius: 50px;
}

.kitten_bin{
  width: 12800px;
}

.kitten_bin_left {
  height: 150px;
  width: 150px;
  background-color: red;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  color: white;
  font-size: 35px;
  font-family: Helvetica;

  }

  .kitten_bin_right {
  height: 150px;
  width: 150px;
  background-color: green;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
  color: white;
  font-size: 35px;
  font-family: Helvetica;*/

  }





// Place all the styles related to the kittens controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
