<h1>Friends</h1>
<table>
  <% @friends.each do |friend| %>
<tr>
  <td>
  <img src=" <%= friend.image_url %>" alt="">
</td>
<td>
  <%= friend.username %>
</td>
<td>
  <form action="/friend/<%friend.id%>" method="get">
    <button type="submit">Show</button></form>
</td>
</tr>
<% end %>
</table>
