<h3>Start your ancient map quest here</h3>
<h4>by wdi-proto

<a href="/location/forest">Venture into the Forest</a><br/>

<a href="/location/sea">Surf City</a><br/>

<a href="/location/subway">late..</a><br/>

<a href="/location/bar">You're drunk</a><br/>

