<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colors</title>
   <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
  <style>
    .cell {
      height:50px;
      width: 20px;
      display:inline-block;
    }
  </style>
</head>
<body>
  <button class="random-palettes">Unleash The Palettes</button>
  <button class="create-palettes" onclick="colorBox()">Now round up the Palettes</button>

  <div class='color-container'>
    <p>color goes here</p>

  </div>

</body>
</html>
