<h2> A simple Sinatra Calculator </h2>

<h4>Please choose two numbers</h4>
<h4> Please follow the pattern in the URLs below</h4>

<br/>


<a href="/add">add</a> localhost:4567/add/(first number)/(second number)<br/>

<a href="/subtract">subtract</a> localhost:4567/subtract/(first number)/(second number)<br/>

<a href="/multiply">multiply</a> locahost:4567/multiply/(first number)/(last number)<br/>

<a href="/divide">divide</a> localhost:4567/divide/(first number)/(second number)<br/>

<a href="/powers">power</a> localhost:4567/powers/(first number)/(second number)<br/>

<a href="/sqrt">square root</a> localhost:4567/sqrt/(number)<br/>

