<h2> A simple Sinatra Calculator </h2>

<h4>Please choose two numbers</h4>
<!-- <form action="/add" method="POST">
  First number    <input value='<%= :num1 %>']><br/>
  Second number   <input value='<%= :num2 %>']><br/>
  <input type="submit">
</form> -->

<a href="/add">add</a><br/>
<a href="/subtract">subtract</a><br/>
<a href="/multiply">multiply</a><br/>
<a href="/divide">divide</a><br/>

<!--
<a href="">add</a><br/>
<a href="">add</a><br/>
-->
