<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colors</title>
  <link rel="stylesheet" href="styles.css">
  <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
</head>
<body>
  <button class="random-palettes">Unleash The Palettes</button>
  <div class='master'>

  </div>
</body>
</html>
