<h1>Here's that square</h1>

  <div style="
    height: <%= @square.side_length %>em;
    width: <%= @square.side_length %>em;
    border-radius: <%= @square.border_radius %>%;
    background-color: <%= @square.color %>
    ">
    <p></p>
  </div>
