body{
  min-width: 900px;
  }

*, body {
  margin: 0px;
  padding: 0px;
}

nav li {
  background-color: blue;
  display: inline-block;
  padding: 5px;
  margin: 5px;;
}

.container {
  background-color: lightgray;
  margin: 5px;
  padding: 5px;
}

.container .box {
  background-color: lightblue;
  height: 100px;
  width: 100px;
  border: 1px solid black;
  padding: 10px;
}

.center{
  margin: 0 auto;
}

nav {
  background-color: pink;
}

.box.left{
  background-color: chartreuse;
  float: left;
  margin: 5px;
}
.box.right{
  background-color: pink;
  float: right;
  margin: 5px;
}
.right {
  float: right;
}

.container .center {
  padding: 10px auto;
}

.container.teal.box {
  background-color: teal;
}

.clear:after { /* expands collapsed parent to clear its height past its floating children */

  content: " "; /* adds html text of period symbol (:after) all opther children inside the parent with is .clear:after class applied to it. */

  display: block; /* set newly created content: to display block */

  clear: both; /* sets the '.' content to clear past all of the floating children giving a height reference. */

  visibility: hidden; /* make the '.' content invisible. */

  line-height: 0; /* make sure it has no text line-height */

  height: 0; /* make sue it has no physical height */
}
