/* 
Project Name: Ecard.ly
Client: General Assembly 
Author: Christopher Castig | @castig
Developer @GA in NYC
*/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}
*, .body {
     margin: 0px;
     padding: 0px;
     font-family: sans-serif;
     font-size: .9em;
}
h2 {
     font-size: 2.3em;
}
p{
     margin: 10px 0 10px 0;
     font-size: 1.3em;
     line-height: 1.7;
     margin-top: 10px;
}
.header {
     background-image:url("/images/logo.png");
     background-color: gray;
     width: 1025px;
     height: 250px;
     margin: 0px;
     padding: 10px;
}
.logo {
     display: block;
     margin: 0px auto;
}
.article_wrapper {
     background-color: white;
     width: 660px;
     margin: 0 20px;
     padding: 30px;
     float:left;
}

.content {
     width:1025px;
     background-color: lightgray;
}

article {
     margin-bottom: 50px;
}

.article_image {
     margin-top: 15px;
     margin-bottom: 15px;
}

.article_footer {
     border-top: 1px black dotted;
     border-bottom: 2px black solid;
}
.download
{
     color:red;
     font-weight: bold;
}

.author {
     color:red;
}

.comment_count {
     color:red;
     font-weight: bold;
}

.sidebar {
     float:right;
     background-color: white;
     margin: 0 20px 0 0;
     width: 300px;
     padding: 15px;
     font-size: 0.8em;
     font-weight: bold;
     

}
.sidebar_image {
     margin: 10px 20px;
}
.footer {
     background-color: lightgray;
     width:100%;
     padding: 50px;
}
.footer_image_container
{
     margin:0 400px;
}
/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}



