<form action="/friends/<%- @friend.id %>" method="post">
  <input type="hidden" name="_method" value="put"> <!-- this line allows us to post from the form -->
  <input type="text" name="username" value="<%= @friend.username %>">
  <input type="submit">
</form>
