<form action="/printreceipt" method="post">
  <input type="text" name='company'><p>Enter Company</p>
  <input type="text" name='service'><p>Enter service</p>
  <input type="text" name='cost'><p>Enter cost</p>
  <input type="submit">

</form>
