<div class = "input">
  <h1>Create a new dog:</h1>
  <form action="/dogs" method="post">
    <input type="text" name="name" placeholder="Name  ">
    <input type="text" name="age" placeholder="Age">
    <input type="text" name="breed" placeholder="  Breed">
    <input type="submit">
  </form>
</div>
