<h1>Welcome to WDI Stocks</h1>
<h2>Please enter the symbol for the stock you would like to look up.</h2>

<form action="/stocks" method="post">
  <input type="text" name="ticker">
  <input type="submit">
</form>