<% @links_file.each do |link| %>
	if link == Reddit 
	<a href="http://reddit.com "><%= link %></a><br />
	 elseif link == y-combinator 
	<a href="http://news.ycombinator.com "><%= link %></a><br />
	 elseif link == MacRumors 
	<a href="http://macrumors.com "><%= link %></a><br />
	 elseif link == Gizmodo 
	<a href="http://gizmodo.com"><%= link %></a><br />
	


<% end %>