<div class="sidebar">
    <h2>A new trip:</h2>

    <form action="/places/<%= @place.id %>/trips" method='post'>
      <input type="text" name='title' placeholder='...title'>    
      <input type="text" name='year' placeholder='...year'>     
      <input type="submit">
    </form>

</div>
 