<h1>Sinatra Games</h1>

<h3><a href="/toss">
	Flip the Coin
</a></h3>

<h3><a href="/dice_roll">
	Toss the Die
</a><br/></h3>

<h3><a href="/magic8ball">
	Ask the Magic 8 Ball
</a><br/></h3>

<h3><a href="/rps">
	Play Rock, Paper, Scissors
</a><br/></h3>