<form action="/planets" method="post">
<%= token_tag %>
  <input type="text" name="id[name]" placeholder="name">
  <input type="text" name="id[image_url]" placeholder="image's url">
  <input type="text" name="id[diameter]" placeholder="diameter">
  <input type="text" name="id[mass]" placeholder="mass">
  <input type="text" name="id[life]" placeholder="is there life? true/false">
  <input type="submit">
</form>