<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lunch App</title>
  <link rel="stylesheet" href="/normalize.css">
  <link rel="stylesheet" href="/styles.css">
</head>
<body>	
  	<div class="wrapper">
  		<!-- <header><img src="lunch-logo.gif" alt="Logo"></header> -->
  		<div><img class="logo" src="/lunch-logo.gif" alt="Logo"></div>  		
  			<%= yield %>
  		<footer>Copyright 2014, Andrea Trapp</footer>
	</div>	
</body>
</html>