<nav>
	<h2>Good choice!</h2>

	<h3>Lunch <span><%= @lunch.lunch_name %></span></h3>

	<h3>Restaurant <span><%= @lunch.restaurant %><span></h3>

	<a href="/lunches"><button type="button">All Lunches</button></a>
	
	<!-- <a href="/lunches/<%= @lunch.id %>/edit">Edit Lunch?</a> -->
</nav>
