<h4>Sinatra Games</h4>

<a href="/toss">
  Toss the die
</a>
<br>
<a href="/dice_roll">
  Dice roll!
</a>
<br>
<a href="/magic8ball/Please_enter_a_question">
  Magic 8 Ball
</a>
<br>
<a href="/rps/rock">
  Rock Paper Scissors
</a>
