
<h1>Welcome!</h1>

<p><%= @compliment %></p>


<form action="/names" method="post">
	<input type="text" name="username" placeholder="Your name here"></input>
	<input type="submit" value="Submit"></input>
</form>


	<!-- <button type="submit">Button text</button> -->

