<!doctype html>

<html>

<head>
	<title>Compliment</title>
	<style type="text/css">
	body {
		background-color: <%= @bgcolor %>;
		text-align: center;
		font-family: Arial;
		font-size: 18px;
	}

	h1 {
		font-size: 28px;
	}

	</style>
</head>


<body>
	<%= yield %>

</body>
</html>
