<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <p>Welcome to WDI Stocks</p>
</head>
<body>
<p> 10-day Stock Report
  <form action="/stocks" method="post">
  <input type="text" name="stock_name">	
  <input type="submit">
  </form>
</p>
</body>
</html>
