<form action="/lunches/create" method="post">

<input type="text" placeholder="lunch" name="lunch">
<input type="text" placeholder="restaurant" name="restaurant">
<input type="submit" value="Create New Lunch">
</form>
