
<form action="/musicians/<%=@id%>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" name="name" value="<%=@musician.name%>">
  <button type="submit">Submit</button>
</form>

