<h1>Kittens LOLZ</h1>
<a href="/kittens/new"><button>Add a new kitty</button></a><br>
<div class="kittens">
<% @kittens.each do |kitten| %>
<img src="http://placekitten.com/<%= kitten.width %>/<%= kitten.height %>">
<% end %>
</div>

