<form action="/squares" method='post'>
  <%= token_tag %>
  <input type="text" placeholder="side length" name='square[side_length]'>
  <input type="text" placeholder="border radius" name='square[border_radius]'>
  <input type="text" placeholder="color" name='square[color]'>
  <input type="submit">
</form>
