<h2>Planets!</h2>

<ul>
  <% @planets.each do |planet| %>
    <li>
      <a href="/planets/<%= planet.id %>">
        <%= planet.name %>
     
    <br/>
     <img src="<%= planet.image_url %>" width="250px" height="250px" alt="">
      </a>
    </li>
  <% end %>
</ul>

<a href="/planets/new">
  New Planet
</a>