<form action="/squares" method="post">
  <input type="text" name="square[color]" placeholder="color">
  <input type="text" name="square[border_radius]" placeholder="border radius">
  <input type="text" name="square[side_length]" placeholder="side length">
  <input type="submit">
</form>
