<h2>Cool new member</h2>

<h3><%= @user.user_name %></h3>

<a href="<%=@user.id %>/edit"><button type="button">Edit</button></a>

<a href="<%=@user.id %>/delete"><button type="button">Edit</button></a>

<a href="/">Back to the gang</a>
