<h4>Sinatra Games</h4>

<a href="/toss">
  --Toss the coin
</a>

</br>
</br>

<a href="/dice_roll">
  --Roll the die
</a>

</br>

<p>
  --Shake the 8 ball by typing in /magic8ball/(your question here)
</p>

<p> --Play 'Rock, paper, scissors' by typing in 'rps/(rock/paper/scissors)</p>
