<div style="width:<%= @square.side_length %>px; height:<%= @square.side_length %>px; border-radius:<%= @square.border_radius %>px; background-color: <%= @square.color %>;"></div>
</br>
See all square options <a href="/squares">here</a>.
