<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Name and Phrase</title>
  <style>
    body{ background-color: #<%= @color %>;}
    button{ background-color: #<%= @color %>;}
  </style>
</head>
<body>
  <h1>Emergency WDI Pickmeup</h1>
  <%= yield %>
</body>
</html>
