<h2>
<%= @name %>!!!
</h2>

<p>
<%= @compliment %>
</p>

<form action="/" method="get">
  <button type="submit">New Name</button>
</form>

<!--
#ONE OTHER WAY TO DO A BUTTON
<a href="/"><button>Go Back</button></a>
 -->
