

<form action="/planets/<%= @planet.id %>" method='post'>
	<input type="hidden" name='_method' value='put'>
  <%= token_tag %>
  <input type="text" name='planet[name]' value='<%= @planet.name %>'>
  <input type="submit">

</form>
