<h1>Planets and Moons</h1>
<ul>
	<% @planet.each do |planet| %>
		<li><%= link_to planet.name, planet %>
			<ul>
				<% planet.moons.each do |moon| %>
					<li>
						<%= moon.name %>
					</li>
				<% end %>
			</ul>
		</li>
	<% end %>
</ul>