<h1>
Hello! The square root of <%= @num %> equals <%= @answer %>.
</h1></br>

<h2>(If you entered a negative number I converted it to positive so that the universe didn't implode. Please don't attempt to take the square root of a negative number...)</h2>


