<!doctype html>
<html lang ="en">
<head>
	<meta charset="UTF-8">
	<title=Amazing New Stock App</title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<input type="submit" </input>
</head>
<body>
	<%= yield %>
</body>
</html>