<div class="wrapper">

<h1><a href="/">Peaches &amp; Cream</a></h1>	

<form action="/occasions" method="post">
	<input type="text" name="occasion" placeholder="Occasion">
	<input type="submit">
</form>


</div>
