<h1>Welcome to Stock Tracker</h1>

<p>Enter the stock symbol below then click 'Submit'.</p>


<form action="/stocks" method="post" >
	<input type="text" name="ticker" placeholder="Ex: goog"></input>
	<input type="submit" value="Submit"></input>
</form>


<p>Examples: APPL: Apple, FB: Facebook, EBAY: Ebay, GE: General Electric, C: Citigroup, F: Ford Motor, INTC: Intel, NOK: Nokia</p>
