
<p><%= @ticker %>'s stock price in the last 7 days is (newest - oldest):</p>

<% @value.each do |number| number %>

<div style="width:<%= number + 100 %>px; height:30px" class="bar">
<p class="number"><%= number %> </p>
</div>	

<% end %>
