/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/
body {
  background: #ffffff;
}

.logo {
  margin: 10px;
}
.picture {
  padding: 0px 0px 5px 60px;
}
.ring {
  padding: 0px 0px 5px 60px;
}
#collection
{padding: 0px 230px 5px 60px;
}
h3 {
  font-size: 15px;
  font-family: ariel;
}
footer {
  padding: 0px 0px 5px 60px;
}
