<h2>Edit a square</h2>

<form action="/squares/<%= @square.id %>" method='post'>
  <input type="hidden" name="_method" value="put">
  <%= token_tag %>
  <input type="text" name='square[squarename]' value='<%= @square.squarename %>'>
  <input type="submit">
</form>
