<div class="name">Name: <%= @artist[0]['name'] %></div>
<div class="country"><%= @artist[0]['country'] %></div>
<div class="begin_date"><%= @artist[0]['life_span']['begin'] || 'undefined' %></div>
<div class="disambiguation"><%= @artist[0]['disambiguation'] || 'undefined' %></div>

<!-- <div class="tags"></div> -->
