<h3>Welcome to your Hipster Quest</h3>
<h4>by Proto Paul G</h4>

<a href="/location/dive_bar">Hole up in a Dive Bar</a><br/>

<a href="location/park">Relax in Mccarren Park</a><br/>

<a href="location/thrift_store">Shop at Thrift Store</a></br>

