<h1>This is calculator</h1>
<a href="/add/:x/:y">Add</a><br/>
<a href="/substract/:x/:y">Substract</a><br/>
<a href="/multiply/:x/:y">Multiply</a><br/>
<a href="/divide/:x/:y">Divide</a><br/>
<a href="/sqrt/:x">Square Root</a><br/>
<a href="/power/:x/:y">Power</a>