<h2>WELCOME TO Baaaaaah'r</h2>

<form action="/users/new" method="get">
    <button type="submit">Join Baah'r</button>
  </form>


  <ul>
    <% @users.each do |user| %>

    <li>
      <a href="/users/<%= user.id %>">
        <%= user.username %>
      </a>
      

    </li>
    <% end %>

  </ul>
