<!--
<img src="http://placekitten.com/<%=rand(100..500)%>/<%=rand(100..500)%>/" alt="">
-->

<img src="http://placekitten.com/:width/:height"/>
<form action="/kittens" method="post">
  <button>SAVE MEow!</button>
</form>
