<ul>
  <% @users.each do |user| %>
    <li>
      <p>
      <a href="/users/<%= user.id %>">
        <%= user.username %>
      </a>
    </p>
    </li>
  <% end %>
</ul>
<a href="/users/new">Sign up to Hoot! >> </a>
