<h1>Please enter the details of your transaction:</h1>

<form action="/index" method="post">
<div class="main_form">
<ul>
  <li>
    Company Name:<input type="text" name="company">
  </li>
  <li>
    Type of Service:<input type="text" name="service">
  </li>
  <li>
    Cost:<input type="text" name="cost">
  </li>
</ul>
</div>
<input type="submit" value="Generate Receipt">
</form>
