

<div class="all_cols">
    <div class="left_col">
    </div>
    <div class="midCol">
    </div>
    <div class="right_col inputs">
        <form action="/planets/<%= @planet_id %>/moons" method="post">
            <%= token_tag %>
            <button class="show_but save_but" type="submit">Save Moon</button>
            <input class="new_input" type="text" name="moon[name]" placeholder="Name">
        </form>
     </div>
</div>
<form action="/planets" method="get">
    <button class="show_but back" type="submit">Back to Planets</button>
</form>

