<head>
<link href= "/style.css" rel="stylesheet" type="text/css">
<style>

background-color:#b0c4de;
color: blue;
</style>
</head>
<br/>
<div class="copy"><%= @result %> </div><br/>

<a href = "/<%= @yes_link %>" class="done_button">Done</a>
<br/>


