<head>
<link href= "/style.css" rel="stylesheet" type="text/css">
</head>
<br/>
<div class="copy"><%= @result %></div> <br/>

<a href = "/<%= @yes_link %>" class="yes_button">YES</a>
<br/>
<a href = "/<%= @no_link %>" class="no_button">NO</a>

