
<form action="/squares" method='post'>
Enter Length:  <input type="text" name="squares[side_length]" /><br>
Enter Border Radius: <input type="text" name="squares[border_radius]" /><br>
Enter Color:  <input type="text" name="squares[color]" /><br>
<%= token_tag %>
<input type="submit"></form>

