
<form action="/squares" method='post'>
Enter Width:  <input type="text" name="width" /><br>
Enter Height: <input type="text" name="height" /><br>
Enter Color:  <input type="text" name="color" /><br>
<% @token_tag %>
<input type="submit"></form>

