<!--
<table class="t1">
  <% @names.each do |name| %>
    <tr><td>
      <li>
        <%= name %>
     </li>
    </td></tr>
  <% end %>
</table>
-->

  <ul>
      <% @names.each do |name| %>
      <li>
        <%= name %>
     </li>
  <% end %>

  </ul>







