<html>
  <head>
    <title>Jay Dray's Juice Bar</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets/styles.css">

    <!-- Libraries -->
    <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
    <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
    <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>

  <!-- Templates -->
<script type='text/template' id="juice-template">
<h2><%-  juice.name %> <span><button name="delete-button">Delete</button></span></h2>
  <form class="ingredient-form">
  <input type="text" placeholder="Add Ingredient" name="ingredient-name" class="name"></input>
  <input type="text" placeholder="How many pieces?" name="ingredient-amount" class="amount"></input>
<button type="submit">Add</button>
</form>
<ul class="juice-ingredients"></ul>
</script>

<script id="ingredient-template" type="text/template">
  <h3><%-  ingredient.name %>, amount: <%- ingredient.amount %> </h3>
</script>

   <script type="text/javascript" src='javascripts/backbone/juice.js'></script>

    <!-- ************ Author ************ -->
    <script type="text/javascript" src='javascripts/backbone/ingredient.js'></script>

    <!-- ************ app ************ -->
    <script type="text/javascript" src='javascripts/app.js'></script>

  </head>
    <!--  Da App -->
  <body>


  <h1> Jay Dray's List </h1>
  <form class="new-juice">
    <input type="text" placeholder="juice" class="juice-name">
    <button type="submit" class="juice-submit">Juicing Like the Juice</button></form>
  <ul class="juice-list"></ul>

  </body>
</html>
