<div class="container">

<h2>Options</h2>

<ul class="option">
	<li><a href="/lunches/new">Create new lunch</a></li> | 
	<li><a href="/lunches/random">Pick random lunch</a></li>
</ul>

<h3>Current Lunches</h3>
<table>
  <% @lunches.each do |lunch| %>
  <tr>
    <td><%= lunch.name %></td> 
    <td><%= lunch.restaurant %> </td> 
    <td><%= lunch.count %></td>
  </tr>
  <% end %>
</table>

</ul>
</div>
