<form action="/lunches" method='post'>
  <input type="text" name='lunch_name' placeholder="Lunch name"></input>
  <input type="text" name='restaurant' placeholder="Restaurant"></input>
  <input type="submit"></input>
</form>
