
<div class="container">

<h2>Your 'Lunch of the Day' is</h2>


<p><%= @rand_lunch.name %> from <%= @rand_lunch.restaurant %><br/>It's been picked <%= @rand_lunch.count %> time(s)</p>


<p><a href="/lunches">Back to main page</a></p>
</div>
