
<div class="top">Welcome to WDI Stocks</div>
<div class="input_area">
  <br/><br/>
  Please enter ticker of stock:
  <form class="iform" action="/stocks" method="post">
    <input class="tbox" name="ticker"></input><br/>
    <input class="click" type="submit" value="Get Stock Data!"></input>
  </form>
</div>
