nav {
  background-color: pink;
}

body {
  margin: 0px;
  padding: 0px;
}

nav li {
  background-color: blue;
  display: inline-block;
  padding: 5px;
  margin: 5px;
}
.right {
  float: right;
}

.clear:after { /* expands collapsed parent to clear its height past its floating children */

content: " "; /* adds html text of period symbol (:after) all opther children inside the parent with is .clear:after class applied to it. */

display: block; /* set newly created content: to display block */

clear: both; /* sets the '.' content to clear past all of the floating children giving a height reference. */

visibility: hidden; /* make the '.' content invisible. */

line-height: 0; /* make sure it has no text line-height */

height: 0; /* make sue it has no physical height */
}

.container {
  background-color: lightgray;
  margin: 5px;
  padding: 10px;
}

.container .box{
  height: 150px;
  width: 150px;
  border: 1px solid black;
  margin: 5px;
}

.container .center{
  margin: 0 auto;
}

.box.left {
  background-color: chartreuse;
  float: left;
}
.box.right {
  background-color: pink;
}
