<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Colors</title>
   <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
</head>
<body>
  <h1>Color me!!!</h1>
  <!-- <h3>*snicker*</h3> -->
  <button class="color-generator" value="Show me colors">show me colors</button>
  <div class="palettes"></div>
  <div class="palette"></div>
</body>
</html>