.books {
   background-color: white;
   color: turquoise;
}

h1 {
   color: white;
   font-size: bold;
   font-family: "Helvetica", sans-serif;
}

h2 {
   color: white;
   font-size: bold;
   font-family: "Helvetica", sans-serif;
}