
<% @number.times do %>
	<div class="rectangle" style="border: 1px solid black; background-color:<%= @color %>; height:<%= @height %>; width:<%= @width %>; margin: 10px; float: left">

</div>
<% end %>
