<h1>Developers</h1>

<div class='developers'>

	<div class='developer'>
		<table>
			<tr>
				<th>Initials</th>
				<th>Name</th>
				<th>Mood</th>
			</tr>

			<% @devs.each do |dev| %>
			<tr>
				<td><%= dev.initials %></td>
				<td><%= dev.name %></td>
				<td><%= [":)",":(",":P"].sample %></td>
			</tr>
			<% end %>

		</table>	
	</div>
	
</div>