<form action="/meal" method="post">
<table>
  <tr>
    <td>
      Meal type:
    </td>
    <td>
      <input type="text" name="meal_name">
    </td>
  </tr>
</table>
<input type="submit" value="submit">
</form>
