<div>
<h1>Welcome to WDI Stocks</h1>

<h3>What ticker symbol are you interested in?</h3>

<form action="/stock" method="post">
  <input type="text" name="ticker">
  <input type="submit">
</form>
</div>
