<h1>this is index</h1>

<form action="/lunches/new" method="get">
	<input type="submit" value="create lunch" name="create">
</form>

<form action="/lunches/random" method="get">
	<input type="submit" value="radnom lunch" name="random">
</form>