<h1>YOUR KITTENS!</h1>

<% @num.times do %>
<!-- <div class="wraps"> -->
<img src="http://placekitten.com/<%= rand(900) + 10 %>/<%= rand(900) + 5 %>">
<!-- </div> -->
  <% end %>
  <!-- put this logic into a kittens class with a random method (self). Models/kitten require it in app.rb call it above. etc -->