<h1>Create a square</h1>

<form action="/squares" method ="post">
  <%= token_tag %>
  <input type="text" name="square[side_length]" placeholder="Side Length">
  <input type="text" name="square[border_radius]" placeholder="Border Radius">
  <input type="text" name="square[color]" placeholder="Color">
  <input type="submit">

</form>
