
<form action="/lunches/create" method="post">
<input type="text" name="lunch_name" placeholder="lunch dish">
<input type="text" name="restaurant_name" placeholder="restaurant">
<input type="submit" value="Order">
	</form>