<h2>All the dogs in the house WOO WOO WOO WOO</h2>

<ul class="dogs"></ul>

<form action="" class="dog-form">
  <input type="text" class="name" placeholder="Name">
  <input type="text" class="breed" placeholder="Breed">
  <input type="submit">
</form>
