<header>
  <h1><a href='/'>Kinder</a></h1>   

  <div class="choice"></div>
  
  <h3><a href="/kittens">View your Meows</a></h3>
</header>


<div class="container"> 
  <div class="left"></div>

  <div class="picture">
    <img src="<%= @url %>" />
  </div>
  
  <div class="right"></div>
</div> 

<div class="buttons">
  <span class="not-meow">NOPE</span>
  <span class="meow">MEOW!</span>
</div>
