<h1><%= @dog.name %></h1>

<h3>is a <%= @dog.age %> year old <%= @dog.breed %>.</h3>

<div class="bottom_button">
<form action="/dogs" method="get">
  <button type="submit">BACK TO ALL DOGS</button>
</form>
</div>
