<h2>Dog Entered</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>Breed</th>
    </tr>
  </thead>
  <tr>
    <td><%= @dog.name %></td>
    <td><%= @dog.age %></td>
    <td><%= @dog.breed %></td>
  </tr>
</table>

<a href="/dogs">Front Page</a>
