

<h1>Receipt Generator</h1>

<p>Fill out the form then click "Submit"</p>

<form action="/receipts" method="post">
	Company: <input type="text" name="company" placeholder="Ex: Pret A Manger"></input><br/>
	Goods/service: <input type="text" name="item" placeholder="Ex: Spicy shrimp wrap"></input><br/>
	Amount: <input type="text" name="price" placeholder="Ex: $8.65"></input>
	<input type="submit" value="Submit"></input>

</form>
