<h2>De La Lunches...</h3>
  <table>
    <tr>
      <th>
        Food name
      </th>
      <th>
        Restaurant Name
      </th>
      <th>
        Times Picked
      </th>
      <th>
        Picked-o-graph
      </th>
    </tr>
    <% @lunches.each do |lunch| %>
    <tr>     
      <td>
        <%= lunch['lunch_name'] %>
      </td>
      <td>
        <%= lunch['restaurant'] %>
      </td>
      <td>
        <%= lunch['picked_count'] %>
      </td>
      <td class="graph">
        <div class="pic_bar" style='width:<%=lunch['picked_count'].to_i * 10 %>px;'>
      </td>
    </tr>
    <% end %>
  </table>

  <a href="/lunches/new" class="button create_button">Create a Lunch</a>
  <a href="/lunches/random" class="button lucky_button">Do you feel lucky, punk?</a>
