Welcome to WhichGigNYC

Get the info you need on who's playing in town tonight.

Enter Artist's Name below

<h6><form action="/artist_name" method="post">
<input type="text" artist="artist_name">

<input type="submit">
</form></h6>

<!-- Andrea's code: -->
<!-- <div class="content">
    <h3>Enter Artist's name and get the Gigs:</h3>

    <form action="/artists" method="get">
      <input type="text" name="artist_name" placeholder="Artist's name">
      <input type="submit">
    </form>

  </div> -->
