<h3> WhichGigNYC gives you the down-low: </h3>


<h3> <%= @artist %>:</h3>


<h3> Description: <%= @Description %></h3>
<!-- #this is the wiki description -->


<h3> Latest Album: <%= @Latest_Album %></h3>
<!-- This is the default. Should include img. -->

<h3> Sample Song: <$= @Sample_Song %></h3>
<!-- This is ANY song. Should include specific album name and link to video clip from either Jango.com; NPR.org; youtube. Rebecca to supply list of urls for each of our artists.-->


<h4>Location of tonight's gig: <h4>url to various hypothetical venues in NYC to include: Terminal Five, The Masonic Temple(in Fort Greene), Jazz at Lincoln Center, Lincoln Center, Brooklyn Summer Stage, Bowery Ballroom. Rebecca to supply urls. </h4>
