.bins {
  height: 150px;
  width: 150px;
  background-color: red;
  display: inline-block;
  margin: 10px;
  font-size: 20px;
  text-align: center;
}

#not-meow {
  float:right;
}

#meow {
  background-color: blue;
}

h2 {
  text-align: center;
}

img {
}
