<!DOCTYPE html>
<head>
<title>Pair programming bot</title>	
<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />
</head>

<body>

<h2>Select a new feature to implement</h2>

<div class="single"><a href="/" class="done">Done</a></div>


</body>
</html>