<h1>What else is out in the Cosmos?</h1>
<form action='/planets' method='post'>
  <%= token_tag %>
  <table>
    <tr>
      <td><h4>Planet Name</h4></td>
      <td><input type='text' name='planet[name]'></td>
    </tr>
    <tr>
      <td><h4>Is there an image URL?</h4></td>
      <td><input type='text' name='planet[image_url]'></td>
    </tr>
    <tr>
      <td><h4>Planet Diameter</h4></td>
      <td><input type='text' name='planet[diameter]'></td>
    </tr>
    <tr>
      <td><h4>Planet Mass</h4></td>
      <td><input type='text' name='planet[mass]'></td>
    </tr>
    <tr>
      <td><h4>Does Life exist there?</h4></td>
      <td>
        <div class="life">
        <input type="radio" name="planet[life]" value="true">
        <label for="true">Yes</label>
        <input type="radio" name="planet[life]" value="false">
        <label for="false">No</label>
        </div>
      </td>
    </tr>
  </table>
  <div class="button_new">
  <button type="submit">Add to the Universe!</button>
</div>
</form>
