<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Welcome to Which NYC Gig</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
	<div class="container">

	<header>
		<h1>Welcome to <span>Which Gig NYC</span></h1>
	</header>
  
  	<%= yield %>

  	<footer>
		<div class="copyright">Copyright 2014</div>
	</footer>

	</div>
</body>
</html>