	<div class="content">
		<h3>Enter Artist's name and get the Gigs:</h3>

		<form action="/artists" method="get">
		  <input type="text" name="artist_name" placeholder="Artist's name">
		  <input type="submit">
		</form>
		
	</div>

	