<div class="nav">
	
	<h1>Which Gig NYC</h1>	
	<h3>Who are you going to see tonight?</h3>

	<form action="/artists" method="get">
	  <input type="text" name="artist_name" placeholder="Artist's name">
	  <input type="submit">
	</form>
			
</div>

	