<h1>Thank you for shopping at Dmitry's store!</h3>
<h3>Tell us about your service today:</h3>

<form action="/receipts" method="post">
  <input type="text" name="company_name" placeholder="Company name">
  <input type="text" name="goods" placeholder="Goods purchased">
  <input type="text" name="price" placeholder="Cost">
  <input type="submit">
</form>
