
<ul>
  <% @names.each do |name| %>
    <li>
      <%= name%> <!-- you can see this on the screen bcs of the = sign after % -->
    </li>
  <% end %> <!-- you can't see this on screen bcs no = sign after % -->

</ul>
