
.container {
  text-align: center;
}

.squares {
  margin: 0 auto;
  margin-top: 20px;
}

.sq_but {
  background-color: white;
  border: none;
}

.sq_but:hover {
  cursor: pointer;
}

.button {
  background-color: lightblue;
  color: rgb(100,100,100);
  width: 300px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

.button:hover {
  cursor: pointer;
}


.input_text {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  height: 30px;
  width: 300px;
  font-size: 20px;
}


