<!doctype html>
<html class="no-js"lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Colors</title>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/foundation.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
  <script src='src/scriptsAldric.js'></script>
</head>
<body>


  <button class="color-generator">NEW COLORS</button>

  <div class='small-12 columns palette_of_palettes'>

  </div>

  <div class='palette_of_buttons'>

  </div>




  <hr>

  <button class="random-palettes">Unleash The Palettes</button>

  <div class="small-12 columns palettes">




    </ul>
  </div>

</body>
</html>
