<!doctype html>
<html class="no-js"lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Colors</title>
  <link rel="stylesheet" href="stylesheets/normalize.css">
  <link rel="stylesheet" href="stylesheets/foundation.css">
  <link rel="stylesheet" href="stylesheets/styles.css">
  <script src='lib/jquery.js'></script>
  <script src='src/scripts.js'></script>
</head>
<body>
  <button class="random-palettes">Unleash The Palettes</button>

  <div class="small-10 columns palettes">




    </ul>
  </div>

</body>
</html>
