/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

 .cats {
  background-color: blue;
  padding: 25px;
 }

 .title {
  background-color: lightblue;
  top-border-radius: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding: 5px;
  text-align: center;
 }

 .randomKitten {
  background-color: white;
  border-radius: 0px;
 }

.image {
  border: 4px solid black;
}

.kitten {
  border-radius: 0px;
}

.end {
  background-color: lightblue;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 5px;
  text-align: center;
  color: grey;
}
