<h2>HOWLERS!</h2>
<ul>
  <% @users.each do |user| %>
    <li>
      <a href="/users/<%= user.id %>">
        <%= user.username %>
      </a>
    </li>
  <% end %>
</ul>

<a href="/users/new">
  New User
</a>
<div class='imcent'>

<div class="wolfimg">
<h1 id='howl'> AAWHOOOOH</h1>
  </div>
  </div>