<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Dogs!</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="top">
    <img class="topdog" src="http://cdn-1.justdogbreeds.com/images/thumbnail/boxer.jpg">
    <div class="heading">
    Dogbook
  </div>
</div>

  <div>
  <%= yield %>
  </div>
</body>
</html>
