
<div class="container">

<form class="newform" action="/dogs" method="post">

  <input class="ibox" type="text" name="name" placeholder="Name">
  <input class="ibox" type="text" name="age" placeholder="Age">
  <input class="ibox" type="text" name="breed" placeholder="Breed">
  <input class="adb" type="submit">


</form>

</div>
