<h1>Calculator home</h1>


<p>To add x to y, type '/add/x/y' at the end of the address bar.</p>

<p>To subtract y from x, type '/subtract/x/y' at the end of the address bar.</p>

<p>To multiple x and y, type '/multiply/x/y' at the end of the address bar.</p>

<p>To divide x by y, type '/divide/x/y' at the end of the address bar.</p>

<p>To take the square root of x, type '/sqr_root/x'</p>

<p>To take x to the power of y, type '/power/x/y'</p>
