<form action="/lunches" method='post' >
<h2>Enter a new lunch.</h2>
<input type="text" name="lunch" placeholder = "Lunch">
<h2>What restaurant is it from?<h2>
<input type="text" name ="restaurant" placeholder = "Restaurant"><input type="submit">
</form>
