<form action="/dogs" method='post'>
  <input type="text" placeholder='...name' name='dog_name'>
  <input type="text" placeholder='...age' name='dog_age'>
  <input type="text" placeholder='...breed' name='dog_breed'>
  <input type="submit">
</form>
