<!doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Emergency Complimenter</title>
    <style>
    body { background-color: #<%= @color %>;}
    </style>
  </head>
  <body>
    <h1>Compliments</h1>
    <%= yield %>
  </body>
</html>

