
<div>
  <h3>Please enter receipt information.</h3>
  <form class="rform" action="receipts" method="post">
    <div><input class="intext" type="text" name="company">  Company</input></div>
    <div><input class="intext" type="text" name="service">  Goods/Service</input></div>
    <div><input class="intext" type="text" name="cost"></input>  Cost</div>
    <div><input class="intext" type="submit"></input></div>
  </form>
</div>
