
<div>
  <h3>Please enter receipt information.</h3>
  <form action="receipts" method="post">
    <input type="text" name="company">Company</input>
    <input type="text" name="service">Service</input>
    <input type="text" name="cost">Cost</input>
    <input type="submit"></input>
  </form>
</div>
