
<div>
  <h3>Please enter receipt information.</h3>
  <div class="fdiv">
    <form action="receipts" method="post">
        <span class="type">Company:  </span>
        <input class="intext" type="text" name="company"></input>
        <span class="type">Goods/Service:  </span>
        <input class="intext" type="text" name="service"></input>
        <span class="type">Cost:  </span>
        <input class="intext" type="text" name="cost"></input>
        <input class="intext s_button" type="submit" value="Submit"></input>
    </form>
  </div>
</div>
