<form action='/movies' method='post'>
  <input type='text' placeholder='...title' name='movie_title'/>
  <input type='text' placeholder='...director' name='director'/>
  <input type='text' placeholder='...screenwriter' name='screenwriter'/>
  <input type='submit'/>
</form>
