<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WhichGigNYC</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="container">

  <header></header>

    <%= yield %>

    <footer>
    <div class="copyright">Copyright 2014, Rebecca Strong & Andrea Trapp</div>
  </footer>

  </div>
</body>
</html>
