<div class="nav">

  <h1>WhichGigNYC</h1>
  <h2>Who are you going to see tonight?</h2>

  <form action="/artists" method="get">
    <input type="text" name="artist_name" placeholder="Artist's name">
    <input type="submit">
  </form>



</div>


