<h1> Kittens </h1>


<div class="kitten"></div>
<button class="meow-button"> Meow</button>


<h1 class="vs"> VS </h1>


<div class="kitten-bin-two"></div>
<button class="not-meow-button"> Meow</button>

