<h1> Kittens </h1>

<div class="choice"></div>

<div class="container">
  <div class="left"></div>

  <div class="pix">
    <img src="<%= @url %>" />
  </div>

  <div class="right"></div>
</div>

<div class="buttons">
  <span class="not-meow">Not meow</span>
  <span class="meow">So Meow</span>
</div>
