<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Doggie Stylin'</title>
 <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <div class="wdi-wrapper">
	<%= yield %>
  </div>
</body>
</html>