<form action="/dogs" method="post">
  <input type="text" name="name" placeholder="...Dog name">
  <input type="text" name="age" placeholder="...Dog age">
  <input type="text" name="breed" placeholder="...Dog breed">
  <input type="submit">
  <FORM><INPUT Type="button" VALUE="Back" onClick="history.go(-1);return true;"></FORM>
</form>