<h2>Book parser</h2>

<h2>Sit and wait!</h2>

<div class="list">
<% Dir['books/*'].each do |book| %>

	<div class="book">
	<a href="/<%= book %>"><%= book.split('/').last.split('.').first.gsub('-',' ') %></a>
	</div>

	<% end %>
</div>


<!--
<form action="/random" method="post">
	<input type="submit" value="Fetch me a book!"></input>
</form>
-->
