<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PICK ME UP</title>
  <style>
    body {background-color: #<%= @color %>;}
  </style>
</head>
<body>
  <form>
    <input type="text" name="name">
    <button type="submit">Complimetify</button>
  </form>
  <%= yield %>
</body>
</html>
