
<div class="links">
  <!-- I have no idea why reddit won't work.. -->
  <a href="http://reddit.com/">Reddit</a></br>
  <a href="http://news.ycombinator.com">y-combinator</a></br>
  <a href="http://techcrunch.com">TechCrunch</a></br>
  <a href="http://macrumors.com">Mac Rumors</a></br>
  <a href="http://gizmodo.com">Gizmodo</a>
</div>
