<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WDI Dogs</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="wrapper">
        <div class="header_pic"><img src="/paw.png" alt="paw"></div>
        <%= yield %>
        <div class="footer_pic"><img src="/dogs.jpg" alt="dogs"></div>
    </div>    
</body>
</html>