<div class="content">

    <h1>Create new dog</h1>

    <form action='/dogs' method='post'>
        <input type="text" name="name" placeholder="name" size=40>
        <input type="text" name="age" placeholder="age" size=40>
        <input type="text" name="breed" placeholder="breed" size=40>
        <button type="submit">Submit</button>
    </form>

</div>