<div class="content">
    
    <h1>About this dog</h1>

    <h2><%= @dog.name %> is a <%= @dog.age %> year old <%= @dog.breed %>.</h2>  

    <form action="/dogs" method="get">      
        <button type="submit">All dogs</button>        
    </form>  

</div>
