h1 {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-color: red;
}
table{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-color: red;
  background-color: lightblue;
}
