<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PICK ME UP!</title>
  <style>
    body {background-color: "#<%= @color %>";}
  </style>
</head>
<body>
  <h1> Hey friend! </h1>
  <%= yield %>
</body>
</html>
