<div class="sidebar">
    
    <h2>A new place:</h2>

    <form action="/places" method='post'>
      <input type="text" name='name' placeholder='...name'>
      <input type="text" name='countrycode' placeholder='...countrycode'>
      <input type="submit">
    </form>

</div>
