<div class="center">
  <p>There are 25 different bands named '<i>The Beatles</i>'?"<p>
    <h2>WHERE ARE THEY ALL FROM?</h2>
  <div class=background>

  <div class="bubble_back">
    <div class="bubble">
      <form action="/movie" method="get">
        <input type="text" name="artist" placeholder="Pick an artist">
        <input type="submit">
      </form>
    </div>
  </div>
    <img class="thinking" src='musicbranz.gif'>

  </div>
</div>
