<form action="/planets/" method="post">
  <%= token_tag %>
  <input type="text" name="planet[name]" placeholder="name">
  <input type="text" name="planet[image_url]" placeholder="image_url">
  <input type="text" name="planet[diameter]" placeholder="diameter">
  <input type="text" name="planet[mass]"placeholder="mass">
  <input type="text" name="planet[life]"placeholder="life">
  <input type="submit">
</form>
