<div class="form" style="background-color:lightgray; width: 275px; margin: 0 auto; padding: 10px 0px 40px 40px">
  <h1> Receipt Form </h1>

  <form action = "/receipts" method = "post">
    Company:<input type="text" name="company_name"><br>
    <br>
    Good/Service Provided:<br>
    <textarea input type="text" name="service" rows="10" cols="30">
      The cat was playing in the garden.
    </textarea><br>
    <br>
    Cost:<input type="text" name="cost"><br>
    <br>
    <input type="submit">

  </form>
</div>
