<div class='container'>

  <div class='header'>
    Kinder
  </div>



  <div class="main">
    <div class="choice left" id="accept">
      <h1 class='vertical'>Meow</h1>
    </div>
    <div class="choice right" id="reject">
      <h1 class='vertical'>not Meow</h1>
    </div>

    <div class='view' id='view'>
    </div>


  </div>



  <div class='footer'>
    footer information
  </div>

</div>
