<div class='container'>

  <div class='header'>
    header
  </div>



  <div class="main">
    <div class="left">
      left
    </div>

    <div class="view">
      main
    </div>

    <div class="right">
      right
    </div>
  </div>



  <div class='footer'>
    footer
  </div>

</div>
